<div id="sm">
  <div id="pro">
    <div class="modal-header shadow-topbar">
        <h5 class="modal-title">Cancel upload</h5>

      </div>
    <div class="modal-body">
      <p>{{ message }}</p>
      <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-outline-form btn-no"
                (click)="decline()">{{ cancel_false }}
        </button>
        <button class="btn btn-sm btn-primary btn-yes"
                (click)="accept()">{{ ok_true }}
        </button>
      </div>
    </div>
  </div>
</div>
