<div id="sm">
  <div id="pro">
    <div class="modal-header shadow-topbar">
        <h5 class="modal-title">Cancel upload</h5>

      </div>
    <div class="modal-body">
      <p>There are unsaved changes. Are sure you want to cancel this upload? </p>
      <!--<p>{{ message }}</p>-->
      <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-outline-form btn-no"
                (click)="decline()">Undo
        </button>
        <button class="btn btn-sm btn-primary btn-yes"
                (click)="accept()">Yes
        </button>
      </div>
    </div>
  </div>
</div>
