.comment {
	background-color: #eef1ff;
	border-radius: 0.6rem;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.replies {
	
}

.comment .row {
	margin-left: 0px;
}

.comment-play {
	height: 14px;
	min-width: 32px;
	margin-left: 10px;
    padding: 0px !important;
    margin-top: 2px;
    padding-left: 6px;
    background: #bac1da !important;
    border: 1px solid #bac1da !important;
    border-radius: 0.8rem;
}

.comment-tag {
	float: left;
}

.comment-tag p {
	font-family: "sofia-light";
	
}

.play-button {
	float: left;
	margin-top: -1px;
	margin-right: 3px;
	margin-left: -1px;
}

.comment-time p {
	text-align: left;
	color: #fff !important;
	margin-right: 6px;
	
}

.comment-play p {
	
	font-size: 8pt;
	text-align: left;
	color: #fff !important;
	    margin-left: 18px;
    margin-right: 10px;
    margin-top: 0px;
}

.name-tx {
	margin-bottom: 0rem !important;
	font-family: "sofia-medium";
	color: #bac1da;
	 text-transform: capitalize;
}

.comment-tx {
	color: #717db0;
}

.comment-reply {
	margin-top: -0.8rem !important;
}

hr {
	margin-top: 1px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	border-top-color: #f0f0f0;
}

.reply-row {
	margin-top: -2px !important;
	margin-bottom: -2px !important;
}

.reply-tx {
	margin-bottom: 0px;
	font-family: 'sofia-light';
	font-size: 8pt;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}



.date-tx {
	margin-bottom: -0rem;
	font-size: 8pt;
	display: inline;
	text-align: right;
	float: right;
	margin-right: 15px;
	}
	
.showhidereplies {
	margin-top: -0.8rem;
	margin-left: 4px;
	font-size: 8pt;
	cursor: pointer;
	margin-bottom: 0px;
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.btn-text b{display:inline}
.btn-text:not(.collapsed)  span{display:none}
.btn-text.collapsed b {display:none}