<form #myForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="form-row">

    <div class="form-field col-md-4 bottom-tooltip" placement="bottom" [ngbTooltip]="" #ft='ngbTooltip' triggers="manual" (click)="ft.close()">

      <div class="card upload-songs-area rounded border-0">

        <div class="upload-songs-text">

          <div  *ngIf="uploader.getNotUploadedItems().length == 0; then uploadsongs else addsongs"></div>

          <ng-template #uploadsongs >

            <div class="addsongs">

              <div class="note-image" id="ni1">
                <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1417.3 1417.3" enable-background="new 0 0 1417.3 1417.3" xml:space="preserve">
                  <circle class="upload-circle" fill="#eef1ff" cx="707.8" cy="708.8" r="701.6"/>
                  <g id="Music-Audio__x2F__Music__x2F__music-note-2_2_">
                    <g id="Group_9_2_">
                      <g id="music-note-2_2_">
                        <path id="Shape_56_2_" fill="#ffffff" stroke="#7397FF" stroke-width="36" stroke-miterlimit="10" d="M557.6,1031.9
                        c-2.3,67.6-56.6,121.9-124.2,124.2c-68.6,0-124.2-55.6-124.2-124.2c0-68.6,55.6-124.2,124.2-124.2h124.2V1031.9z"/>
                        <path id="Shape_57_2_" fill="#ffffff" stroke="#7397FF" stroke-width="36" stroke-miterlimit="10" d="M1012.9,866.4
                        c-2.3,67.6-56.6,121.9-124.2,124.2c-68.6,0-124.2-55.6-124.2-124.2c0-68.6,55.6-124.2,124.2-124.2h124.2V866.4z"/>
                        <path fill="#ffffff" stroke="#7397FF" stroke-width="36" stroke-miterlimit="10" d="M1012.8,286.5v83.2L557.5,556V438.8
                        c0-17,10.3-31.9,25.7-38.5L955.7,248c12.8-5,27.7-3.7,38.9,4.1C1006.2,260,1013.2,272.9,1012.8,286.5z"/>
                        <line fill="none" stroke="#7397FF" stroke-width="36" stroke-linecap="round" stroke-linejoin="round" x1="1012.8" y1="742.2" x2="1012.8" y2="369.7"/>
                        <line fill="none" stroke="#7397FF" stroke-width="36" stroke-linecap="round" stroke-linejoin="round" x1="557.5" y1="907.8" x2="557.5" y2="556"/>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>

              <h5>Add tracks</h5>

              <div>
                <h6>Up to {{queueSizeMargin}}</h6>
              </div>
            </div>
          </ng-template>
		  <a>
          <ng-template  #addsongs>
            <div class="addmoresongs">
              <h5>Add more tracks</h5>
                <h6>{{queueSizeMargin}} left</h6>
            </div>
          </ng-template>
		  </a>
        </div>

        <div class="tabletainer">
          <table class="table noselect">
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><p>{{ item?.file?.name }}</p></td>
                <span (click)="removeFromQueue(item)" class="delete cross" aria-hidden="true">&times;</span>
              </tr>
            </tbody>
          </table>
        </div>

        <input class="upload-songs-input" id="public-uploader" type="file" title="" ng2FileSelect [uploader]="uploader" multiple
               name="files" accept="{{getAcceptedFileTypes().join(',')}}"/>

      </div>

      <div class="sep-line show-medium"></div>

    </div>

    <div class="col-md-8">
      
      <div class="form-row">

        <div class="col-sm-12"  >
            <input type="text" [(ngModel)]="email_from" name="email_from" placeholder="Email from*" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   class="form-control form-control-sm" required ngbTooltip="Invalid email address" triggers="manual" emailValidationTooltip>
                   
        </div>
       

        <div class="col-sm-12">
          <tag-input [(ngModel)]='email_to'
                     [trimTags]="true"
                     [separatorKeyCodes]="[13, 188, 186]"
                     [addOnBlur]="true"
                     [maxItems]="5"
                     [ripple]="false"
                     [animationDuration]="{enter: '0ms', leave: '0ms'}"
                     [modelAsStrings] = "true"
                     [validators]="validators"
                     placeholder="Email to"
                     secondaryPlaceholder="Email to"
                     name="email_to"
                     class="form-control form-control-sm"
                     id="tag-input-email"
                     ngbTooltip="Invalid email address" triggers="manual" #t="ngbTooltip">
          </tag-input>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col hide-phone">
                <textarea #notes_element [(ngModel)]="notes" type="text" placeholder="Notes" name="notes"
                          class="form-control form-control-sm"
                          rows="2"></textarea>
        </div>

        <div class="form-group col show-phone">
                <textarea #notes_element [(ngModel)]="notes" type="text" placeholder="Notes" name="notes"
                          class="form-control form-control-sm"
                          rows="5"></textarea>
        </div>
      </div>

      <div class="form-row radios">

        <div class="col">
	       
          <ng-select
            class="custom noselect expiration"
            bindValue="id"
            groupBy = "heading"
            [items]="expirations"
            [searchable]="false"
            [clearable]="false"
            [(ngModel)]="expiration"
            placeholder="Expire*"
            name = "expirations"
            dropdownPosition="top"
            required>
          </ng-select>
        </div>

        <div class="col">
        <ng-select
                class="custom noselect downloadable"
                bindValue="id"
                groupBy = "heading"
                [items]="availability"
                [searchable]="false"
                [clearable]="false"
                [(ngModel)]="downloadable"
                placeholder="Download*"
                name = "downloads"
                dropdownPosition="top"
                required>
            </ng-select>
        </div>

        <div class="col" id="notify">
            <ng-select
                class="custom noselect"
                groupBy = "heading"
                bindValue="id"
                [items]="notifications"
                [searchable]="false"
                [clearable]="false"
                [(ngModel)]="notifyID"
                placeholder="Notify*"
                name = "notifications"
                dropdownPosition="top"
                required>
            </ng-select>
        </div>

        <div class="col">
          <button type="submit" [disabled]="!uploader.getNotUploadedItems().length || !myForm.valid"
                  class="btn btn-sm btn-primary free-upload">

            <div class="show-medium">Share tracks</div>

            <svg width="30px" height="30px" viewBox="0 0 38 38" class="plane-icon hide-medium" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <desc></desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
                   transform="translate(-30.000000, -209.000000)">
                  <g id="send-email-2" transform="translate(30.000000, 209.000000)">
                    <path
                      d="M10.4,10.743 C10.0795417,10.1695961 10.1694462,9.45439019 10.6218509,8.97813854 C11.0742555,8.50188689 11.7839045,8.37539349 12.373,8.666 L31.387,18.325 C31.6385553,18.4529457 31.7969886,18.7112764 31.7969886,18.9935 C31.7969886,19.2757236 31.6385553,19.5340543 31.387,19.662 L12.373,29.334 C11.7839045,29.6246065 11.0742555,29.4981131 10.6218509,29.0218615 C10.1694462,28.5456098 10.0795417,27.8304039 10.4,27.257 L15.458,18.993 L10.4,10.743 Z"
                      id="Shape" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path d="M31.797,18.993 L15.453,18.993" id="Shape" stroke="#FFFFFF" stroke-width="1.5"
                          stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div ng2FileDrop
     [uploader]="uploader"
     class="well my-drop-zone">
</div>
