<form #myForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="form-row">

    <div class="form-field col-md-4">

      <div class="card upload-songs-area rounded border-0">

        <div class="upload-songs-text">

          <div *ngIf="uploader.getNotUploadedItems().length == 0; then uploadsongs else addsongs"></div>

          <ng-template #uploadsongs>

            <div class="addsongs">
              <div class="note-image" id="ni1">
               <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1417.3 1417.3" enable-background="new 0 0 1417.3 1417.3" xml:space="preserve">
<circle class="upload-circle" fill="#eef1ff" cx="707.8" cy="708.8" r="701.6"/>
<g id="Music-Audio__x2F__Music__x2F__music-note-2_2_">
	<g id="Group_9_2_">
		<g id="music-note-2_2_">
			<path id="Shape_56_2_" fill="#ffffff" stroke="#7397FF" stroke-width="36" stroke-miterlimit="10" d="M557.6,1031.9
				c-2.3,67.6-56.6,121.9-124.2,124.2c-68.6,0-124.2-55.6-124.2-124.2c0-68.6,55.6-124.2,124.2-124.2h124.2V1031.9z"/>
			<path id="Shape_57_2_" fill="#ffffff" stroke="#7397FF" stroke-width="36" stroke-miterlimit="10" d="M1012.9,866.4
				c-2.3,67.6-56.6,121.9-124.2,124.2c-68.6,0-124.2-55.6-124.2-124.2c0-68.6,55.6-124.2,124.2-124.2h124.2V866.4z"/>
			<path fill="#ffffff" stroke="#7397FF" stroke-width="36" stroke-miterlimit="10" d="M1012.8,286.5v83.2L557.5,556V438.8
				c0-17,10.3-31.9,25.7-38.5L955.7,248c12.8-5,27.7-3.7,38.9,4.1C1006.2,260,1013.2,272.9,1012.8,286.5z"/>
			
				<line fill="none" stroke="#7397FF" stroke-width="36" stroke-linecap="round" stroke-linejoin="round" x1="1012.8" y1="742.2" x2="1012.8" y2="369.7"/>
			
				<line fill="none" stroke="#7397FF" stroke-width="36" stroke-linecap="round" stroke-linejoin="round" x1="557.5" y1="907.8" x2="557.5" y2="556"/>
		</g>
	</g>
</g>
</svg>
                
               
              </div>
              <h5>Add tracks</h5>

              <div><h6>Up to 20</h6></div>
            </div>
          </ng-template>

          <ng-template #addsongs>
            <div class="note-image" id="ni2">
              
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Music-Audio-/-Audio-Files-/-audio-file-add" stroke="#000000">
            <g id="Group">
                <g id="audio-file-add">
                    <path d="M9.5,23.5 L1.5,23.5 C0.94771525,23.5 0.5,23.0522847 0.5,22.5 L0.5,1.5 C0.5,0.94771525 0.94771525,0.5 1.5,0.5 L14.793,0.5 C15.0581948,0.500056637 15.3125073,0.605450625 15.5,0.793 L19.207,4.5 C19.3945494,4.68749273 19.4999434,4.94180519 19.5,5.207 L19.5,8.5" id="Shape"></path>
                    <path d="M9.5,14 C9.5,14.933 8.381,15.687 7,15.687 C5.619,15.687 4.5,14.933 4.5,14 C4.5,13.067 5.619,12.314 7,12.314 C8.381,12.314 9.5,13.068 9.5,14 Z" id="Shape"></path>
                    <path d="M9.49999804,14 L9.5,7.223 C9.49929344,6.86538175 9.68961325,6.53460765 9.99914375,6.35549266 C10.3086743,6.17637768 10.6902933,6.17618983 11,6.355 L13,7.5" id="Shape"></path>
                    <circle id="Oval" cx="17.5" cy="17.5" r="6"></circle>
                    <path d="M17.5,14.5 L17.5,20.5" id="Shape"></path>
                    <path d="M20.5,17.5 L14.5,17.5" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
            </div>
            <div class="addmoresongs"><h5> Add more songs</h5></div>
          </ng-template>

        </div>

        <div class="tabletainer">

          <table class="table">
            <tbody>

            <tr *ngFor="let item of uploader.queue">
              <td><p>{{ item?.file?.name }}</p></td>
              <button type="button" class="btn-cross close"
                      (click)="item.remove()">
                <span class="remove" aria-hidden="true">&times;</span>
              </button>
            </tr>
            </tbody>
          </table>

        </div>

        <input class="upload-songs-input" type="file" ng2FileSelect [uploader]="uploader" multiple

               accept="audio/*"/>


      </div>

    </div>

    <div class="col-md-8">
      <div class="form-row">
        <div class="form-group col">
                <textarea type="text" placeholder="Notes" class="form-control form-control-sm"
                          rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="text"  [(ngModel)]='email_from' name="email_from" placeholder="Email from"
                 class="form-control form-control-sm" required>
        </div>
        <div class="col">
          <input type="text"  [(ngModel)]='email_to' name="email_to" placeholder="Email to"
                 class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-row radios">
        <div class="col">
          <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-form active">
              <input class="slide-selector" type="radio" ngModel="expiration" autocomplete="off" name="expiration"
                     value="1 week" checked>1 week
            </label>
            <label class="btn btn-outline-form">
              <input class="slide-selector" type="radio" ngModel="expiration" autocomplete="off" name="expiration"
                     value="1 month">1 month</label>
          </div>
        </div>
        <div class="col">
          <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-form active">
              <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage" value="stream"
                     checked>Stream
            </label>
            <label class="btn btn-outline-form">
              <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage"
                     value="download">Download
            </label>
            <label class="btn btn-outline-form">
              <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage" value="both">Both
            </label>
          </div>
        </div>
        <div class="col">
	        
          <button type="submit" [disabled]="!uploader.getNotUploadedItems().length || !myForm.valid"
                  class="btn btn-primary btn-sm free-upload">
            Share songs
          </button>
        </div>
      </div>
    </div>
  </div>

</form>

<div ng2FileDrop
     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
     (fileOver)="fileOverBase($event)"
     [uploader]="uploader"
     class="well my-drop-zone">
</div>
