
.info-footer {
	background-color: #eef1ff;
	height: 60px;
	width: 100%;
}

.leapwing-svg {
	margin-top: 15px;
	margin-bottom: 0px;
	
	width: 110px;
}

.social-icons {
	float: right;
}

.si {
	float: left;
	width: 20px;
	margin-left: 12px;
	margin-top: 20px;
}


a {
	padding: 0 !important;
	margin: 0 !important;
}