<div class="container-fluid">

  <div class="row">

    <div class="col-sm-4">
      <div class="got-img" id="expired-svg">
        
              </div>
    </div>

    <div class="col-sm-8">

      <div class="container-fluid">

        <div class="row">
          <h4 class="error-title">Sorry, this project has expired</h4>
        </div>

        <div class="row">
          <p class="error-text">
            You can still access the comments below. <br>The comments will expire in 1 month.
            <br><br><br class="hide-medium"><!--Error: <a href="https://more.soundmarker.com/support/" target="_blank">Error in processing data</a>-->
          </p>
        </div>

        <div class="row">
              <a href="https://www.soundmarker.com"><button type="button" class="btn btn-primary btn-sm error-btn-left">Share tracks</button></a>
              
        </div>
      </div>
    </div>
  </div>
</div>
