<div class="container-fluid track-bar">

  <div class="player-header row">

    <play-button
      [state]="getPlaybuttonState()"
      [disabled]="expired"
      (clicked)="clickPlaybutton($event)"
    ></play-button>

    <div role="button" (click)="trackSelected()" class="show-track-button">

      <div class="title"><h4  #trackTitle>{{track?.title}}</h4>
        <p *ngIf="!expired">{{getCommentCount()}} comments {{getLastUpdated()}}</p>
      <p *ngIf="expired">
        Sorry, this track has expired.
      </p></div>
    </div>
    <div *ngIf="track.versions.length>1" > Version {{track.getVersionIndex(version) + 1}} </div>
    <div class="ml-auto hide-phone player-toolbar">
      <div *ngIf="version?.downloadable && !expired" class="top-icon cloud-icon margin-tooltip" id="cloud-icon" (click)="download()" placement="top"
           ngbTooltip="Download">

        
<svg width="22px" height="18px" viewBox="0 0 22 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-389.000000, -447.000000)" class="icon-stroke" stroke-width="1.5">
            <g id="Group-Copy-14" transform="translate(389.000000, 448.000000)">
                <g id="upload-brackets">
                    <path d="M11,0.5 L11.0008333,11.7368421" id="Shape"></path>
                    <polyline id="Shape" points="7.25083333 7.78947368 11.0008333 11.7368421 14.7508333 7.78947368"></polyline>
                    <g id="Group-24" transform="translate(11.000000, 14.368421) rotate(90.000000) translate(-11.000000, -14.368421) translate(8.500000, 3.842105)">
                        <path d="M0,0.657894737 L3.125,0.657894737 C3.81535594,0.657894737 4.375,1.24699375 4.375,1.97368421 L4.375,19.0789474 C4.375,19.8056378 3.81535594,20.3947368 3.125,20.3947368 L0,20.3947368" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
        
      </div>

    </div>

  </div>

</div>

