@import "../public-player-page.component";

.title {
  margin-top: 3px;
  margin-left: 4px;
}

 

.show-track-button:hover .title p::after {
	content: 'Show';
	background-color: #2f2f2f;
	color: white !important;
	border-radius: 0.2rem;
	padding-top: 3px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 6px;
	
}



.top-icon {
  margin-top: 3px;
  margin-right: 4px;
}

.track-bar {
  padding-right: 11px !important;
  border-radius: 0.3rem !important;

  &:hover {
    background-color: #eef1ff !important;
    transition: 0.1s;
  }
}

.show-track-button {
  cursor: pointer !important;
  width: 80%;
}

@media (max-width: 576px) {
	
	.title p::after {
		display: none !important;
	}

  .show-track-button {

    width: 70%;
  }
}
