<app-pro-board-card>
  <ng-container class="body">
    <app-pro-upload-form [class.hidden]="stage != statusEnum.SELECT_SONGS" [uploader]="uploader" [queueSizeMargin]="queueSizeRemainingString"
                            (uploading)="stage = statusEnum.UPLOADING_SONGS"
                            (finished)="successfullUpload()"
                            (error)="error = $event"
                            (link)="link = $event"
                            (period)="period = $event"
                         (removedFileSize)="addFileSize($event)">
    </app-pro-upload-form></ng-container>
  <!---->
    <!--<app-pro-uploading-files [class.hidden]="stage != statusEnum.UPLOADING_SONGS"-->
                                <!--[uploader]="uploader"></app-pro-uploading-files>-->
    <!--<app-pro-upload-finished [class.hidden]="stage != statusEnum.GREAT_SUCCESS"-->
                                <!--[link]="link" (sendNewFiles)="tryAgain()"-->
                                <!--[period]="period"></app-pro-upload-finished>-->
</app-pro-board-card>
<!--<div id="waveform" #waveform></div>-->
