<div [ngSwitch]="state" [class.disabled]="disabled" (click)="clicked.emit(state)">

  <ng-template ngSwitchCase="loading">
 <button class="mini-btn mini-pause-btn btn btn-link loading">
      <svg width="100%" height="100%" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Group-5">
            <g id="Group-6">
              <circle id="Oval" fill="#7397FF" cx="13.5" cy="13.5" r="13.5"></circle>
              <rect id="Rectangle"  fill-rule="nonzero" x="9" y="8" width="3" height="12"
                    rx="1.5"></rect>
              <rect id="Rectangle"  fill-rule="nonzero" x="15" y="8" width="3" height="12"
                    rx="1.5"></rect>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </ng-template>

  <ng-template ngSwitchCase="play">
    <button class="mini-btn mini-play-btn btn btn-link">
      <svg width="100%" height="100%" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Group-5">
            <g id="Group-6">
              <circle id="Oval" fill="#7397FF" cx="13.5" cy="13.5" r="13.5"></circle>
              <path
                d="M16.3141199,9.00179825 L20.7528354,16.3448585 C21.3242409,17.2901466 21.0211492,18.5196696 20.0758611,19.0910751 C19.7637352,19.2797482 19.4059591,19.3794796 19.0412399,19.3794796 L10.1638089,19.3794796 C9.05923941,19.3794796 8.16380891,18.4840491 8.16380891,17.3794796 C8.16380891,17.0147604 8.26354033,16.6569843 8.45221343,16.3448585 L12.8909289,9.00179825 C13.4623344,8.05651017 14.6918575,7.75341844 15.6371456,8.32482392 C15.9142829,8.4923472 16.1465966,8.72466097 16.3141199,9.00179825 Z"
                id="Triangle-2" fill="#FFFFFF"
                transform="translate(14.602672, 13.707802) rotate(90.000000) translate(-14.602672, -13.707802) "></path>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </ng-template>

  <ng-template ngSwitchCase="pause">
    <button class="mini-btn mini-pause-btn btn btn-link">
      <svg width="100%" height="100%" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Group-5">
            <g id="Group-6">
              <circle id="Oval" fill="#7397FF" cx="13.5" cy="13.5" r="13.5"></circle>
              <rect id="Rectangle" fill="#FFFFFF" fill-rule="nonzero" x="9" y="8" width="3" height="12"
                    rx="1.5"></rect>
              <rect id="Rectangle" fill="#FFFFFF" fill-rule="nonzero" x="15" y="8" width="3" height="12"
                    rx="1.5"></rect>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </ng-template>

</div>
