@import "../../+public/public-player-page/public-player-page.component";

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.mini-btn.loading svg rect {
	fill: #ffffff;
	animation: col 1s linear infinite;
	opacity: 0.6
}

.popup.loading svg rect {
	fill: #7397ff;
	animation: col 1s linear infinite;
	opacity: 0.6
}

@keyframes col {
0% {opacity:0.2}
50% {opacity:0.6}
100% {opacity:0.2}
}
