<nav class="navbar navbar-expand">
        <a class="sidebar-toggle" id="menu-toggle" (click)="toggleSidebar()">
<svg width="27px" height="16px" viewBox="0 0 27 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="PRO" transform="translate(-289.000000, -27.000000)" fill-rule="nonzero" stroke="#7397FF" stroke-width="2">
            <path d="M290.5,35 L315,35" id="Line-3"></path>
            <path d="M290.5,28 L315,28" id="Line-3"></path>
            <path d="M290.5,42 L315,42" id="Line-3"></path>
        </g>
    </g>
</svg></a>

<div class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Projects</a></li>
    <li class="breadcrumb-item"><a href="#">Project Title</a></li>
    <li class="breadcrumb-item active" aria-current="page">Track Title</li>
  </ol>
</div>
        

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"> 




<svg width="16px" height="16px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M6,0 C2.6862915,0 0,2.6862915 0,6 C0,9.3137085 2.6862915,12 6,12 C9.3137085,12 12,9.3137085 12,6 C11.9961426,2.6878906 9.3121094,0.00385738115 6,0 Z M8,6.75 L7,6.75 C6.86192881,6.75 6.75,6.86192881 6.75,7 L6.75,8 C6.75,8.41421356 6.41421356,8.75 6,8.75 C5.58578644,8.75 5.25,8.41421356 5.25,8 L5.25,7 C5.25026715,6.93361434 5.22401373,6.86987053 5.1770716,6.8229284 C5.13012947,6.77598627 5.06638566,6.74973285 5,6.75 L4,6.75 C3.58578644,6.75 3.25,6.41421356 3.25,6 C3.25,5.58578644 3.58578644,5.25 4,5.25 L5,5.25 C5.06638566,5.25026715 5.13012947,5.22401373 5.1770716,5.1770716 C5.22401373,5.13012947 5.25026715,5.06638566 5.25,5 L5.25,4 C5.25,3.58578644 5.58578644,3.25 6,3.25 C6.41421356,3.25 6.75,3.58578644 6.75,4 L6.75,5 C6.75,5.13807119 6.86192881,5.25 7,5.25 L8,5.25 C8.41421356,5.25 8.75,5.58578644 8.75,6 C8.75,6.41421356 8.41421356,6.75 8,6.75 Z" id="Shape-Copy" fill="#7397FF" fill-rule="nonzero"></path>
    </g>
</svg></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <svg width="12px" height="16px" viewBox="0 0 14 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="#7397ff" fill-rule="evenodd" stroke-linecap="round"
                 stroke-linejoin="round">
                <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
                   transform="translate(-119.000000, -136.000000)" stroke="#7397ff" stroke-width="1.5">
                  <g id="Group-2" transform="translate(120.000000, 137.000000)">
                    <path d="M0,13 L12,13" id="Shape"></path>
                    <path
                      d="M12,13 C12,13 10.8,11.9006734 10.8,7.94949495 C10.8,4.79292929 8.7504,2 6,2 C3.2496,2 1.2,4.79292929 1.2,7.94949495 C1.2,11.9217172 0,13 0,13"
                      id="Shape"></path>
                    <path d="M7,15 C7,15.5522847 6.55228475,16 6,16 C5.44771525,16 5,15.5522847 5,15"
                          id="Shape"></path>
                    <path d="M6,2 L6,0.5" id="Shape"></path>
                  </g>
                </g>
              </g>
            </svg></a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#"> 




<div class="nav-profile"><p>M</p></div></a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="breadcrumbbar show-phone">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="#">Projects</a></li>
		    <li class="breadcrumb-item"><a href="#">Project Title</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Track Title</li>
		  </ol>
</div>
