@import "../about-us/about-us-info.component.scss";

.start-image {
	width: 600px;
	height: 600px;
	border-radius: 1rem !important;
	box-shadow: 0 11px 30px rgba(115, 150, 255, .25) !important;
	-webkit-box-shadow: 0 11px 30px rgba(115, 150, 255, .25) !important;
	-moz-box-shadow: 0 11px 30px rgba(115, 150, 255, .25) !important;
	position: relative;
	// background: url('/assets/demo-project.png');
	// background-size: contain;
	// background-repeat: no-repeat;
}

#public-landing {
	width: 100%;
	height: 100%;
	padding: 30px;
}

#public-landing .container {
	min-height: 460px;
}

#public-landing .row {
	margin: -2px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	padding: 60px;
	min-height: 760px;
}

#public-landing .col {
	padding: 20px !important;


}

#public-landing h1 {
	font-family: 'sofia-medium';
	font-size: 42pt;
	letter-spacing: -0.9px;
	line-height: 0.9;
	color: #7397ff;
	margin-bottom: -4px;
	margin-top: 104px;
}

#public-landing h2 {
	font-family: 'sofia-regular';
	font-size: 26pt;
	letter-spacing: -1pt;
	color: #717db0;
}

#public-landing h2 span {
	font-family: 'clearface-heavy';
}

#public-landing ul {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	list-style: none;
}

#public-landing li {
	font-family: 'sofia-regular';
	color: #717db0;
	padding-left: 20px;
}

#public-landing li:before {
	content: '✓ ';
	margin-left: -20px;
	color: #7397ff;
}

#public-landing p {
	color: #717db0;
}

#public-landing p a {
	color: #717db0 !important;
	text-decoration: underline;
	text-decoration-color: #7397ff;
}

#public-landing p a:hover {
	color: #7397ff !important;
}

.start-button {
	border-radius: 0.3rem !important;
	box-shadow: 0 11px 30px rgba(115, 150, 255, .25) !important;
	-webkit-box-shadow: 0 11px 30px rgba(115, 150, 255, .25) !important;
	-moz-box-shadow: 0 11px 30px rgba(115, 150, 255, .25) !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	font-family: 'sofia-regular' !important;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
	margin-right: 15px;
}

.start-button.accept {
	background-color: #7397ff !important;
	color: white;
}

.start-button.learn {
	background-color: white !important;
	color: #7397ff !important;
}

.start-button.accept:hover {
	background-color: #6388f5 !important;
}

.start-button.learn:hover {
	color: #6388f5 !important;
}

.show-vert {
	display: none;
}

.show-med {
	display: none;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

	.start-image {
		width: 360px;
		height: 360px;

		border-radius: 0.3rem !important;
	}

	.hide-med {
		display: none;
	}

	.show-med {
		display: block;
	}

	#public-landing .row {
		min-height: 520px;
	}

	#public-landing .col {
		min-width: 400px;
		max-width: 400px;
	}

	#public-landing h1 {
		margin-top: 0px;
		font-size: 36pt;
		line-height: 0.9;
		margin-bottom: -4px;
	}

	#public-landing h2 {
		font-size: 20pt;
		letter-spacing: -1pt;
	}

	#public-landing ul {
		margin-top: 20px;
		margin-bottom: 20px;
	}

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

	.start-image {
		margin-bottom: -5px;
	}



	#public-landing {
		position: absolute;
		overflow-y: scroll;
	}

	#public-landing .col {
		margin: auto;
	}

	#public-landing .row {
		margin: 0px;
	  position: relative;
	  top: 0px;
	  -ms-transform: none;
	  transform: none;
		padding: 30px;
	}

	#public-landing h2 {
		margin-bottom: 20px;
	}

	#public-landing ul {
		margin-top: -10px;

	}

	.show-vert {
		display: block;
	}

	.hide-vert {
		display: none;
	}

 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

	.start-image {
		width: 100%;
		position: relative;
		height: auto;
		border-radius: 0.3rem !important;

	}

#public-landing {
	padding: 0px;
}

#public-landing .row {
	padding: 0px;
	padding-top: 10px;
}

	#public-landing .col {
		min-width: 320px;
		max-width: 400px;

	}

	.start-button {
		width: 100%;
		margin-bottom: 15px;
	}

 }









.carousel, .slide {
	box-shadow: none !important;
	outline: none !important;
}

img {
	margin-bottom: -90px;
}

.fadedfont {
	color: #eef1ff !important;
}



.intro-png {
	margin-left: -40px;
	margin-right: -40px;
	width: calc(100% + 80px);

	height: 0;
	padding-bottom: 77%;
	margin-bottom: -179px;
}

.info-heading h4 {
	text-align: center;
	margin-bottom: -20px;
	color: #717db0;

}

.spacing-start {
	height: 24px;
}

.intro-footer button {
	height: 30px;
	margin-left: 10px;
	margin-bottom: 25px;

}

.intro-footer p {
	padding-top: 7px;
	color: #717db0;
}

.intro-footer a {
	padding-top: 7px;
	font-size: 10pt;
	color: #7397ff !important;
	text-decoration: none;
	font-family: 'sofia-regular';
}

.intro-footer {
	margin-top: 30px;
	padding-bottom: 15px;
}

.accept-text, .accept-button {
	float: right;

}


@media (max-width: 576px) {

.welcome-img-phone {
	width: 174% !important;
	margin-left: -37%;
}

.accept-button {
	float: none;
	width: calc(100% - 40px) !important;
	height: 50px !important;
	text-align: center;
	margin-left: 20px !important;
	margin-right: 20px !important;
	position: fixed;
	bottom: 71px;
	left: 0px;
}



.accept-text {
	float: none;
	position: fixed;
	bottom: 145px;
	width: 250px;
	left: calc( 50% - 125px);
	text-align: center;
}

.intro-footer button {





}

.intro-card {
	max-height: calc(100vh - 200px);
	overflow: hidden;
}

.intro-footer {



}

.intro-footer p, .intro-footer a {
	font-size: 8pt;
}

}

@media (max-width: 340px) {

.welcome-img-phone {
	width: 100% !important;
	margin-left: 0px;

}

.intro-heading {
	margin-top: -10px;
}

.accept-button {

bottom: 71px;



}

.accept-text {
bottom: 145px;
}

}
