<div id="sm" class="shadow public-bottom-container bg-card intro-card card rounded-lg w-100 shadow">

  	<ngb-carousel #carousel>
    	<ng-template ngbSlide>

			  <div class="container-fluid">
				<div class="col-sm-12">
					<div class="info-heading">
						<h1>Share. Stream.<br>Collaborate.</h1>

					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row info-card-row">
          <img  width="100%" src={{images[0]}}>
				</div>
			</div>
			<div class="spacing-lg"></div>
			<div class="container-fluid intro-footer" >
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-primary btn-sm accept-button" aria-label="Close" (click)="accept()">Start</button>
						<button type="button" role="button" class="btn btn-outline-form btn-sm accept-button hide-medium" aria-label="Next" (click)="next()">See the demo</button>
						<p class="accept-text">By starting, you agree to our <a href="https://more.soundmarker.com/terms/" target="_blank">Terms of Service</a>
						</p>
					</div>
				</div>
			</div>

		</ng-template>

		<ng-template ngbSlide>

		  <div class="container-fluid">
				<div class="col-sm-12">
					<div class="info-heading">
						<h1>Share. <span class="fadedfont">Stream.<br>Collaborate.</span></h1>

					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row info-card-row">
          <img  width="100%" [src]="images[1]">
				</div>
			</div>
			<div class="spacing-lg"></div>
			<div class="container-fluid intro-footer">
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-primary btn-sm accept-button" aria-label="Close" (click)="next()">Next</button>
						<button type="button" class="btn btn-outline-form btn-sm accept-button" aria-label="Close" (click)="prev()">Previous</button>
						<p class="accept-text"><a></a></p>
					</div>
				</div>
			</div>

		</ng-template>

		<ng-template ngbSlide>

		  <div class="container-fluid">
				<div class="col-sm-12">
					<div class="info-heading">
						<h1>Share. <span class="fadedfont">Stream.<br>Collaborate.</span></h1>

					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row info-card-row">
          <img  width="100%" [src]="images[2]">
				</div>
			</div>
			<div class="spacing-lg"></div>
			<div class="container-fluid intro-footer">
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-primary btn-sm accept-button" aria-label="Close" (click)="next()">Next</button>
						<button type="button" class="btn btn-outline-form btn-sm accept-button" aria-label="Close" (click)="prev()">Previous</button>
						<p class="accept-text"><a></a></p>
					</div>
				</div>
			</div>

		</ng-template>

		<ng-template ngbSlide>

		  <div class="container-fluid">
				<div class="col-sm-12">
					<div class="info-heading">
						<h1><span class="fadedfont">Share.</span> Stream.<br><span class="fadedfont">Collaborate.</span></h1>

					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row info-card-row">
          <img  width="100%" [src]="images[3]">
				</div>
			</div>
			<div class="spacing-lg"></div>
			<div class="container-fluid intro-footer">
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-primary btn-sm accept-button" aria-label="Close" (click)="next()">Next</button>
						<button type="button" class="btn btn-outline-form btn-sm accept-button" aria-label="Close" (click)="prev()">Previous</button>
						<p class="accept-text"><a></a></p>
					</div>
				</div>
			</div>

		</ng-template>

		<ng-template ngbSlide>

		  <div class="container-fluid">
				<div class="col-sm-12">
					<div class="info-heading">
						<h1><span class="fadedfont">Share. Stream.</span><br>Collaborate.</h1>

					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row info-card-row">
          <img  width="100%" [src]="images[4]">
				</div>
			</div>
			<div class="spacing-lg"></div>
			<div class="container-fluid intro-footer">
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-primary btn-sm accept-button" aria-label="Close" (click)="next()">Next</button>
						<button type="button" class="btn btn-outline-form btn-sm accept-button" aria-label="Close" (click)="prev()">Previous</button>
						<p class="accept-text"><a></a></p>
					</div>
				</div>
			</div>

		</ng-template>

				<ng-template ngbSlide>

		  <div class="container-fluid">
				<div class="col-sm-12">
					<div class="info-heading">
						<h1>Share. Stream.<br>Collaborate.</h1>

					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row info-card-row">
          <img  width="100%" [src]="images[5]">
				</div>
			</div>
			<div class="spacing-lg"></div>
			<div class="container-fluid intro-footer">
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-primary btn-sm accept-button" aria-label="Close" (click)="accept()">Start</button>
						<button type="button" class="btn btn-outline-form btn-sm accept-button" aria-label="Close" (click)="prev()">Previous</button>
						<p class="accept-text">By starting, you agree to our <a href="https://more.soundmarker.com/terms/" target="_blank">Terms of Service</a></p>
					</div>
				</div>
			</div>

		</ng-template>
	</ngb-carousel>

  </div>

