@import "../about-us/about-us-info.component.scss";




.intro-footer button {
	height: 30px;
	margin-left: 10px;
	
}

.intro-footer p {
	padding-top: 7px;
	color: #717db0;
}

.intro-footer a {
	padding-top: 7px;
	font-size: 10pt;
	color: #7397ff !important;
	text-decoration: none;
	font-family: 'sofia-regular';
}

.intro-footer {
	margin-top: 30px;
	padding-bottom: 15px;
}

@media (max-width: 576px) {



.intro-footer {
	bottom: 0px;
	margin-bottom: 0px;
	position: absolute;
	
}

.intro-footer p, .intro-footer a {
	font-size: 6pt;
}

}