<div class="shadow public-bottom-container bg-card intro-card card rounded-lg w-100 shadow">


  <div class="container-fluid">
    <div class="col-sm-12">

      <div class="info-heading">

        <h1>Hi. We are<br>Soundmarker</h1>
        <p>Easily share audio, stream & communicate<br>
during the process of making music
        </p>


      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row info-card-row">


      <div class="intro-svg"></div>


    </div>
  </div>

  <div class="spacing-lg"></div>


  <div class="container-fluid intro-footer">
    <div class="col-sm-12">

      <div>
        <button type="button" class="btn btn-primary btn-sm accept-button" aria-label="Close" (click)="accept()">
          Continue
        </button>
        <p class="accept-text">By continuing, you agree to our <a href="http://3.122.127.21/terms/" target="_blank">Terms of Service</a>
        </p>
      </div>


    </div>

  </div>


  <!--

    <div class="container-fluid">
     <div class="col-sm-12">

          <div id="carouselExampleControls" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">

      <div class="carousel-item active">




      <!--  <div class="intro-footer">
        <button href="#carouselExampleControls" role="button" data-slide="next" class="btn btn-primary btn-sm float-right">Next</button>
        <a href="#carouselExampleControls" data-slide-to="2" role="button" class="float-right">Skip intro</a>
    </div>-->

  <!--
	  
    </div>
    
        <div class="carousel-item">
	    
	    <div class="info-heading">

      <h1>Share</h1>
      <p>Easily share any track in the making, like demos, <br>mixes or masters by clicking Add Tracks. <br>Set the expiration and choose if the recipients can already download the track. If you don't want to share using e-mail, just copy the link and choose your way of sharing it.</p>
  
</div>

      
      <div class="intro-footer">
	      
	      <button href="#carouselExampleControls" role="button" data-slide="next" class="btn btn-primary btn-sm float-right">Next</button>
	      <button href="#carouselExampleControls" role="button" data-slide="prev" class="btn btn-primary btn-sm float-right">Previous</button>
  
  	<a href="#carouselExampleControls" data-slide-to="2" role="button" class="float-right">Skip intro</a>
  </div>
	  
    </div>
    
    <div class="carousel-item">
	    
	        <div class="info-heading">

      <h1>Stream</h1>
      <p>Soundmarker is a simple tool to improve the communication<br> during the creative process of making music.</p>
      
</div>
       
        
        
     
       <div class="intro-footer">
  	<button href="#carouselExampleControls" role="button" data-slide="next" class="btn btn-primary btn-sm float-right">Next</button>
  	<button href="#carouselExampleControls" role="button" data-slide="prev" class="btn btn-primary btn-sm float-right">Previous</button>
  	<a data-slide-to="2" role="button" href="#carouselExampleControls" class="float-right">Skip intro</a>
  </div>
  
    </div>
   
     <div class="carousel-item">
	     
	         <div class="info-heading">

      <h1>Communicate</h1>
      <p>Soundmarker is a simple tool to improve the communication<br> during the creative process of making music.</p>
      
	      
       
</div>
     
        
        
      
       <div class="intro-footer">
  	<button type="button" class="btn btn-primary btn-sm float-right" data-dismiss="modal" aria-label="Close">Continue</button>
  	<a class="float-right">By clicking Continue, you agree to our Terms of Service & our Privacy policy</a>
  </div>
    </div>
  </div>
 <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
  <!-- </div>



       </div>











  </div> -->
