 <div class="shadow public-bottom-container card rounded-lg position-static shadow">
	 
	<div class="container-fluid">
		<div class="col-sm-12">
			<button type="button" class="close-modal-btn shadow-sm" data-dismiss="modal" aria-label="Close">
                        <span class="remove" aria-hidden="true">


<svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-19.000000, -228.000000)" stroke="#ffffff" stroke-width="1.5">
            <path d="M31,229.205453 L20,240.205453" id="Shape"></path>
            <path d="M20,229.205453 L31,240.205453" id="Shape"></path>
        </g>
    </g>
</svg></span>
                      </button>
			
			<div class="info-heading">
			
				 <h1>Log in</h1>
				 
				
				 
			</div>
			
			</div>
			
	
	</div>
	
	<div class="spacing"></div>
	
	 
	<div class="container-fluid">
		
		<div class="col">
		
			<div class="row">
			
				<div class="col">
		
					<form class="form-inline"> 
			
						<div class="form-row">
				
							<div class="col-sm-4 mb-3">

								<div class="form-group mail-login">
        
									<input type="email" class="sub-form" id="exampleFormControlInput1" placeholder="Email address">
  
								</div>
			
							</div>
				
							<div class="col-sm-3 mb-3">
			
								<div class="form-group pass-login">
    
									<input type="password" class="sub-form email" id="inputPassword2" placeholder="Password">
  								</div>
  
							</div>
				
							<div class="col-sm-3 mb-3">
			
								<div class="btn-group-toggle" data-toggle="buttons">
	  
									<label class="btn btn-sm btn-outline-form">
										<input type="checkbox" autocomplete="off"> Remember me
									</label>

								</div>
			
							</div>
				
							<div class="col-sm-2 mb-3">

								<button type="submit" class="btn login btn-sm btn-primary disabled">Log in</button>
  
							</div>
  	
						</div>
					</form>

				</div>
				
				
				
			</div>
			
			<p>No account yet? <a>Subscribe here</a></p>
			
		</div>
		
	</div>
	

	
    
	
	<!--<div class="container-fluid">
		<div class="col-sm-12">
			
				<form>
				
	  <div class="form-group">
		  <label class="contact-label"><h5>Your email address</h5></label>
	    <input type="email" class="form-control-lg" id=" " placeholder="you@example.com">
	    </div>
	     <div class="form-group">
		     <label class="contact-label"><h5>Subject</h5></label>
	    <input type="text" class="form-control-lg" id=" " placeholder="">
	    
	  </div>
	
	
	 
	  <div class="form-group">
		   <label class="contact-label"><h5>How can we help?</h5></label>
	    <textarea class="form-control-lg" id=" " rows="3" placeholder=""></textarea>
	  </div>
	  <div class="form-group">
		  <div class="ml-auto">
	   <button type="submit" class="btn btn-primary btn-sm float-right">Submit</button>
		  </div>
	  </div>
	</form>
			</div>
			
		
	</div>-->
	
	<div class="spacing-sm"></div>
	
	
	
	
	<app-info-footer></app-info-footer>
	
 </div>