.contact-form-container {
	background-color: #fff;
	border-radius: 0.6rem;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}


.form-row {
	width: calc(100% + 10px);
	
}

.btn-primary {
	width: 100%;
}

.container-fluid .col p {
	color: #717db0;
}

.container-fluid .col p a {
	color: #7397ff;
}