 <div class="shadow public-bottom-container card rounded-lg position-static shadow">
	 
	<div class="container">
		<div class="col-sm-12">
			<div class="close-info justify-content-end">
				<button type="button" class="btn-cross close" data-dismiss="modal" aria-label="Close">
                        <span class="remove" aria-hidden="true">&times;</span>
                      </button>
			</div>
			
			<div class="info-heading">
			
				 <h1>Get in touch!</h1>
				 <p>We hope you can find your answers in<br>our frequently asked questions.</p>
			</div>
			</div>
	</div>
	
	
    <div class="container spacing"></div>
	
	<div class="container">
		<div class="col-sm-12">
		
		<form>
			
  <div class="form-group">
	  <label class="contact-label"><h5>Your email address</h5></label>
    <input type="email" class="form-control-lg" id=" " placeholder="you@example.com">
    </div>
     <div class="form-group">
	     <label class="contact-label"><h5>Subject</h5></label>
    <input type="text" class="form-control-lg" id=" " placeholder="">
    
  </div>


 
  <div class="form-group">
	   <label class="contact-label"><h5>How can we help?</h5></label>
    <textarea class="form-control-lg" id=" " rows="3" placeholder=""></textarea>
  </div>
  <div class="form-group justify-content-end">
   <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </div>
</form>
		</div>
	</div>
	
	<app-info-footer></app-info-footer>
	
 </div>