<div id="sm">
  <div id="pro">
    <div class="modal-header shadow-topbar">
        <h5 class="modal-title">Edit project</h5>

      </div>

      <div class="modal-body">

    <form #myForm="ngForm"
          (ngSubmit)="onSubmit(myForm)">


          <div class="form-row mb-10p">
            <div class="form-group col">
              <input class="sub-form"
                     placeholder="Project title"
                     name="projecttitle"
                     required
                     [(ngModel)]="title">
            </div>
          </div>

          <div class="form-row radios  mb-10p">
            <div class="col">
              <label class="custom noselect downloadable btn btn-sm btn-outline-form btn-settings"
                     popoverClass="popover-class"
                     ngbPopover="Allow lossless streaming"
                     [openDelay]="300"
                     [autoClose]="false"
                     triggers="mouseenter:mouseleave">
                <div class="switch">
                  <input type="checkbox"
                         name="losless"
                         [(ngModel)]="lossless">
                  <span class="slider round"></span>
                </div>
                <div [ngClass]="{'unchecked': !lossless}"
                     class="slider-text">Lossless
                </div>
              </label>
            </div>
            <div class="col">
              <label class="custom noselect downloadable btn btn-sm btn-outline-form btn-settings"
                     popoverClass="popover-class"
                     ngbPopover="Set extra password protection"
                     [openDelay]="300"
                     [autoClose]="false"
                     triggers="mouseenter:mouseleave">
                <div class="switch">
                  <input type="checkbox"
                         name="passwordProtected"
                         [(ngModel)]="passwordProtected">
                  <span class="slider round"></span>
                </div>
                <div [ngClass]="{'unchecked': !passwordProtected}"
                     class="slider-text">Password
                </div>
              </label>
            </div>
            <div class="col">
              <input [disabled]="!passwordProtected"
                     name="smppwv"
                     [(ngModel)]="password"
                     class="sub-form"
                     placeholder="Min. 6 characters">
            </div>
          </div>

      <div class="edit-track-version" *ngFor="let track of project?.tracks; let i = index; trackBy: trackByFn">
        <div class="form-row mb-5p">
          <div class="form-group col-sm-9">
            <input class="sub-form"
                   placeholder="Track title"
                   value="{{track.title}}"
                   (change)="editedTrack(i, $event.target.value)"
                   required>

          </div>
          <div class="col">
            <label class="custom noselect downloadable btn btn-sm btn-outline-form btn-settings"
                   popoverClass="popover-class"
                   ngbPopover="Recepient can see this version"
                   [openDelay]="300"
                   [autoClose]="false"
                   triggers="mouseenter:mouseleave">
              <div class="switch">
                <input type="checkbox"
                       [checked]="track.visible"
                       (click)="toggleVisibility(i)">
                <span class="slider round"></span>
              </div>
              <div [ngClass]="{'checked': track.visible == true}"
                   class="slider-text">Visible
              </div>
            </label>
          </div>
        </div>
        </div>
      <div class="form-row mb-5p d-flex justify-content-end">
        <div class="col col-sm-2">
          <button type="button"
                  class="btn btn-sm btn-outline-form free-upload"
                  (click)="close.emit()">
            Cancel
          </button>
        </div>
        <div class="col col-sm-3">
          <button type="submit"
                  [disabled]="!myForm.valid"
                  class="btn btn-sm btn-primary free-upload">
            Save
          </button>
        </div>
      </div>

    </form>
    </div>



  </div>
</div>
