<div id="public-landing">
  <img src="assets/sm-logo-topbar.svg" alt="Soundmarker Logo" class="start-logo hide-vert"/>
  <a class="start-link learn hide-vert" href="https://more.soundmarker.com" target="_blank">Learn more</a>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="show-vert">
          <h1>Better music <br>collaboration</h1>
          <h2>—<span> for free</span></h2>
        </div>
        <video alt="Soundmarker Preview" class="start-image hide-med" oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay loop muted>
          <source src="assets/soundmarker-intro-video.mp4" type="video/mp4">
        </video>

        <img src="assets/demo-project-small.png" alt="Soundmarker Preview" class="start-image show-med"/>

      </div>
      <div class="col">
        <div class="hide-vert">
          <h1>Better music <br>collaboration</h1>
          <h2>—<span> for free</span></h2>
        </div>

        <ul class="">
          <li> High quality streaming</li>
          <li> Time stamped commenting</li>
          <li> Private link sharing</li>
          <li> No registration</li>
        </ul>

        <p></p>
        <p class="start-accept-text">By starting, you agree to our <a href="https://more.soundmarker.com/terms/" target="_blank">Terms of Service</a></p>
        <button type="button" class="start-button accept" aria-label="Close" (click)="accept()">Get started</button>
        <a class="start-button learn show-vert" href="https://more.soundmarker.com" target="_blank">Learn more</a>

      </div>

    </div>
  </div>
</div>
