 <div class="shadow public-bottom-container card rounded-lg position-static shadow">
	 
	 <div class="container">
		<div class="col-sm-12">
			<div class="close-info justify-content-end">
				<button type="button" class="btn-cross close" data-dismiss="modal" aria-label="Close">
                        <span class="remove" aria-hidden="true">&times;</span>
                      </button>
			</div>
			<h1>Login</h1>
			
			</div>
	</div>

	 
	<div class="container login-container">
		
		<form class="form-inline"> 
			<div class="form-row">
			<div class="col-md-5">

  <div class="form-group mail-login">
        <label for="exampleFormControlInput1"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
  </div>
			</div>
			<div class="col-md-3">
  <div class="form-group pass-login">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control email" id="inputPassword2" placeholder="Password">
  </div>
			</div>
			<div class="col-md-2">
  <div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-sm btn-outline-form">
    <input type="checkbox" autocomplete="off"> Remember me
  </label>
</div>
			</div>
<div class="col-md-2">
  <button type="submit" class="btn login btn-sm btn-primary disabled">Log in</button>
  </div>	
			</div>
</form>

		
	</div>
			<div class="container">
		<div class="col-sm-12">
			<h1>Professional tools</h1>
				 <p>Being audio engineers ourselves, <br>our mission is to improve the collaboration.</p>
			</div>
	</div>
	
	<div class="container">
		<div class="row">
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow rounded-sm border-0">
		      <div class="card-body">
			    <div class="info-svg"></div>
		        <h5 class="card-title">Lossless streaming</h5>     
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg"></div>
		        <h5 class="card-title">Continuous storage</h5>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg"></div>
		        <h5 class="card-title">Version control</h5>       
		      </div>
		    </div>
		  </div>	
	
	
	
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow rounded-sm border-0">
		      <div class="card-body">
			    <div class="info-svg"></div>
		        <h5 class="card-title">Password protection</h5>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg"></div>
		        <h5 class="card-title">Personalised page</h5>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg"></div>
		        <h5 class="card-title">More insight</h5>        
		      </div>
		    </div>
		  </div>	
	</div>
	</div>
	
	<div class="container spacing"></div>
	
	
 </div>