.content {
  background-color: white;
}

.board-col-big {
  max-width: 680px;
}

.board-col-small {
  max-width: 480px;
  display: none;
}

.title-bc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
  float: left;
}

.title-bc-arrow {
  width: 10px;
  float: left;
}
