<div class="pro-sidebar object-shadow-black" id="sidebar-wrapper" [class.toggled]="toggled">
</div>

<div class="sidebar-bg object-shadow-black">

  <div class="sidebar-scroll-zone">

    <div class="sidebar-heading">
      <div class="sidebar-logo">soundmarker</div>
      <p>Pro · Version 1.0</p>
    </div>

    <div class="sidebar-box view-button">
      <div class="sidebar-tab" routerLink="dashboard" (click)="stateService.setVersionUpload(false)">
				<span class="projects-tab-icon">
            <ng-container *ngTemplateOutlet="icon_home"></ng-container>
				</span>
        <h3>Start</h3>
      </div>
      <div class="sidebar-tab" routerLink="projects">
				<span class="projects-tab-icon">
					<ng-container *ngTemplateOutlet="icon_projects"></ng-container>
				</span>
        <h3>Projects</h3>
      </div>
      <div class="sidebar-tab" routerLink="upload">
				<span>
					<ng-container *ngTemplateOutlet="icon_transfers"></ng-container>
				</span>
        <h3>Transfers</h3>
      </div>
    </div>

    <div class="sidebar-box current-projects">
      <p>Recent projects</p>
      <div class="sidebar-item">
        <app-pro-sidebar-item-project></app-pro-sidebar-item-project>
      </div>
      <div class="sidebar-item">
        <app-pro-sidebar-item-project></app-pro-sidebar-item-project>
      </div>
      <div class="sidebar-item">
        <app-pro-sidebar-item-project></app-pro-sidebar-item-project>
      </div>
    </div>

    <div class="sidebar-box active-transfers">
      <p>Active transfers</p>
      <div class="sidebar-item">
        <app-pro-sidebar-item-transfer></app-pro-sidebar-item-transfer>
      </div>
      <div class="sidebar-item">
        <app-pro-sidebar-item-transfer></app-pro-sidebar-item-transfer>
      </div>
    </div>

  </div>

  <div class="sidebar-box">
    <div class="sidebar-item">

      <div class="sidebar-player-button">

        <play-button
          [inverse]="true"
          [disabled]="false"
          [audioSource]="audioSource"
        ></play-button>

      </div>

      <div *ngIf="audioSource" class="activeTrack">
        <a routerLink="{{getRouterLink()}}">
          <h3>V{{versionIndex}} · {{track.title}}</h3>
        </a>
        <p>{{player.getCurrentTime() | timeFormat}} / {{player.getDuration() | timeFormat}}</p>
      </div>

    </div>

  </div>

</div>

<ng-template #icon_home>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
         transform="translate(-468.000000, -311.000000)" stroke="#FFFFFF" stroke-width="1.5">
        <g id="house-entrance" transform="translate(469.000000, 312.000000)">
          <path
            d="M20.9623333,8.20141667 L11,0.68475 L1.0285,8.20141667 C0.822357666,8.39164407 0.698403731,8.6546763 0.682916667,8.93475 L0.682916667,20.41325 C0.68442659,20.9077465 1.08492017,21.3082401 1.57941667,21.30975 L7.55791667,21.30975 L7.55791667,16.5 C7.55791671,14.6015212 9.09693787,13.0625001 10.9954167,13.0625001 C12.8938955,13.0625001 14.4329166,14.6015212 14.4329167,16.5 L14.4329167,21.3125 L20.4105,21.3125 C20.9051465,21.3109929 21.3059041,20.9106447 21.3079167,20.416 L21.3079167,8.93475 C21.2920494,8.65477263 21.1681594,8.39187597 20.9623333,8.20141667 Z"
            id="Shape"></path>
        </g>
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #icon_projects>
  <svg width="24px" height="20px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
         transform="translate(-469.000000, -430.000000)" stroke="#FFFFFF" stroke-width="1.5">
        <g id="Group" transform="translate(470.000000, 431.000000)">
          <g id="folder-empty">
            <path
              d="M18.5625,6.9375 L18.5625,4.1875 C18.5625,3.42810847 17.9468915,2.8125 17.1875,2.8125 L7.5625,2.8125 L7.5625,1.4375 C7.5625,0.678108469 6.94689153,0.0625 6.1875,0.0625 L2.0625,0.0625 C1.30310847,0.0625 0.6875,0.678108469 0.6875,1.4375 L0.6875,16.3791667 C0.698195433,17.153137 1.27536665,17.8019439 2.04282426,17.9027072 C2.81028188,18.0034705 3.53537435,17.5256443 3.7455,16.7806667 L5.90058333,7.92841667 C6.07154757,7.34073427 6.61037183,6.93680291 7.22241667,6.9375 L19.9375,6.9375 C20.3646849,6.93735305 20.7676733,7.13576319 21.0280458,7.47442697 C21.2884183,7.81309075 21.3765956,8.25353483 21.2666667,8.66633333 L19.25,16.9163333 C19.0896055,17.5186373 18.5441281,17.9377144 17.9208333,17.9375 L2.24308333,17.9375"
              id="Shape"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #icon_transfers>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
         transform="translate(-469.000000, -390.000000)" stroke="#FFFFFF" stroke-width="1.5">
        <g id="big-files" transform="translate(470.000000, 391.000000)">
          <rect id="Rectangle-path" x="0" y="5.73913043" width="21.5217391" height="15.7826087" rx="1.5"></rect>
          <path
            d="M0,6.45556744 L2.29565217,0.851306574 C2.52648493,0.332738464 3.04133371,-0.000994541583 3.60895652,2.22664948e-06 L17.5263478,2.22664948e-06 C18.0935026,-6.97565746e-05 18.6074743,0.333955619 18.8377391,0.852263096 L21.0788696,6.36661092"
            id="Shape"></path>
          <path d="M10.5217391,5.73913043 L10.5217391,0" id="Shape"></path>
        </g>
      </g>
    </g>
  </svg>
</ng-template>
