<app-public-page>

  <div>
    <app-public-upload-form [class.hidden]="stage != statusEnum.SELECT_SONGS" [uploader]="uploader"
                            [waveform]="waveform"
                            (uploading)="stage = statusEnum.UPLOADING_SONGS"
                            (finished)="stage = statusEnum.GREAT_SUCCESS"
                            (link)="link = $event">
    </app-public-upload-form>
    <app-public-uploading-files [class.hidden]="stage != statusEnum.UPLOADING_SONGS"
                                [uploader]="uploader"></app-public-uploading-files>
    <app-public-upload-finished [class.hidden]="stage != statusEnum.GREAT_SUCCESS"
                                [link]="link"></app-public-upload-finished>
  </div>

</app-public-page>

<div id="waveform" #waveform></div>
