<app-public-page [error]="error" (tryAgain)="tryAgain()">

  <div>
    <app-public-upload-form [class.hidden]="stage != statusEnum.SELECT_SONGS" [uploader]="uploader" [queueSizeMargin]="queueSizeRemainingString"
                            (uploading)="stage = statusEnum.UPLOADING_SONGS"
                            (finished)="successfullUpload()"
                            (error)="error = $event"
                            (link)="link = $event"
                            (period)="period = $event"
                            (removedFileSize)="addFileSize($event)">
    </app-public-upload-form>
    <app-public-uploading-files [class.hidden]="stage != statusEnum.UPLOADING_SONGS"
                                [uploader]="uploader"></app-public-uploading-files>
    <app-public-upload-finished [class.hidden]="stage != statusEnum.GREAT_SUCCESS"
                                [link]="link" (sendNewFiles)="tryAgain()"
                                [period]="period"></app-public-upload-finished>
  </div>
</app-public-page>
<div id="waveform" #waveform></div>
