@import "../public-player-page.component";

.title {
  margin-top: 3px;
  margin-left: 4px;
}

.top-icon {
  margin-top: 3px;
  margin-right: 4px;
}

.track-bar {
  padding-right: 11px !important;
  border-radius: 0.3rem !important;

  &:hover {
    background-color: #eef1ff !important;
    transition: 0.1s;
  }
}

.show-track-button {
  cursor: pointer !important;
  width: 80%;
}

@media (max-width: 576px) {

  .show-track-button {

    width: 70%;
  }
}
