<div class="container-fluid track-bar">

  <div class="player-header row">

    <play-button
      [state]="getPlaybuttonState()"
      (clicked)="clickPlaybutton($event)"
    ></play-button>

    <div role="button" (click)="trackSelected()" class="show-track-button">

      <div class="title"><h4  #trackTitle>{{track?.title}}</h4>
        <p *ngIf="!expired">{{getCommentCount()}} comments {{getLastUpdated()}}</p>
      <p *ngIf="expired">
        Sorry, this track has expired.
      </p></div>

    </div>

    <div class="ml-auto hide-phone player-toolbar">
      <div *ngIf="version?.downloadable && !expired" class="top-icon cloud-icon" id="cloud-icon" (click)="download()">
        <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <desc>Download track</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
             stroke-linejoin="round">
            <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
               transform="translate(-95.000000, -20.000000)" class="icon-stroke" stroke-width="1.5">
              <g id="Group" transform="translate(96.000000, 21.000000)">
                <g id="upload-brackets">
                  <path d="M10.0008333,5 L10.0008333,15" id="Shape"></path>
                  <polyline id="Shape" points="6.25083333 11.25 10.0008333 15 13.7508333 11.25"></polyline>
                  <path
                    d="M5,19.375 L1.87583333,19.375 C1.1854774,19.375 0.625833333,18.8153559 0.625833333,18.125 L0.625833333,1.875 C0.625833333,1.18464406 1.1854774,0.625 1.87583333,0.625 L5,0.625"
                    id="Shape"></path>
                  <path
                    d="M15,0.625 L18.125,0.625 C18.8153559,0.625 19.375,1.18464406 19.375,1.875 L19.375,18.125 C19.375,18.8153559 18.8153559,19.375 18.125,19.375 L15,19.375"
                    id="Shape"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>

    </div>

  </div>

</div>

