.list-icon {
	float: right;
	margin-left: 8px;
	margin-right: -12px;
}

h4, a {
	color: #7397ff;
}

#copy-link {
	border-bottom-left-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-right: none !important;
		border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
  width: 120px !important;
}

.copy-link-btn {
		border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	max-width: 73px !important;
}

.form-group {
	margin-right: 10px;
}

.got-img {
	min-width: 160px;
	min-height: 160px;
	margin-bottom: -10px;
	
	
}

#success-svg {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	background-image: url(sm-success.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: -4px;
	width: 90%;
	height: 90%;
	max-height: 160px;
}

.success-text a {
	color: #7397ff !important;
}

@media (max-width: 768px) {
	
	#success-svg {
		padding-right: 10px;
	}
	
	.copy-link-btn {
		margin-bottom: 0px !important;
	}
	
	.col-sm-8 {
		margin-left: 10px;
		margin-right: -10px;
	}
	
	#copy-link {
		width: 86px !important;
	}
	

	
	}
	
	@media (max-width: 576px) {
		
			#success-svg {
		padding-right: 0px;
		width: 40%;
		margin-top: 14px;
		margin-bottom: 24px;
	}
	
	.col-sm-8 {
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;
	}
	
	.btn-sm {
		width: auto;
	}
	
		.success-title {
		text-align: center !important;
		max-width: 230px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	.success-text {
		text-align: center !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	.form-inline {
		margin-left: auto !important;
	}
	
	.btn-sm {
		margin-right: auto !important;
	}
	

		
		}