.list-icon {
	float: right;
	margin-left: 8px;
	margin-right: -12px;
}

#copy-link {
	border-bottom-left-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-right: none !important;
}

.copy-link-btn {
		border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.form-group {
	margin-right: 10px;
}

.got-img {
	max-width: 180px;
	margin-bottom: -20px;
	margin-top: -12px;
	
}