<div class="container-fluid">

  <div class="row">

    <div class="col-sm-4">
      <div class="got-img" id="success-svg">
        
              </div>
    </div>

    <div class="col-sm-8">

      <div class="container-fluid">

        <div class="row">
          <h4 class="success-title">Thanks for using Soundmarker!</h4>
        </div>

        <div class="row">
          <p class="success-text">
            Your tracks have been shared successfully. <br>They will be available for 1 MONTH.<br><br>
            <br>
          </p>
        </div>

        <div class="row">

          <form class="form-inline">
            <div class="form-group copy-link-group">

              <input type="text" class="sub-form" id="copy-link" value="{{getLink()}}">

              <button class="btn btn-outline-form btn-sm copy-link-btn" ngxClipboard [cbContent]="getLink()">
                Copy link
              </button>

            </div>
          </form>

          <button type="submit" class="btn btn-primary btn-sm" (click)="sendMore()">Share more</button>

        </div>

      </div>

    </div>

  </div>

</div>
