.list-icon {
	float: right;
	margin-left: 8px;
	margin-right: -12px;
}

h4, a {
	color: #7397ff;
}

#copy-link {
	border-bottom-left-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-right: none !important;
		border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
  width: 120px !important;
}

.copy-link-btn {
		border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.form-group {
	margin-right: 10px;
}

.got-img {
	max-width: 180px;
	margin-bottom: -20px;
	margin-top: -12px;
	
}
