<div href="#" class="sidebar-item-transfer">
	<span class="more">	        
		<svg width="18px" height="5px" viewBox="0 0 18 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
		        <g id="PRO" transform="translate(-292.000000, -168.000000)" fill="#FFFFFF" stroke="#FFFFFF">
		            <g id="navigation-menu-horizontal" transform="translate(293.000000, 169.000000)">
		                <circle id="Oval" cx="1.5" cy="1.5" r="1.5"></circle>
		                <circle id="Oval" cx="14.5" cy="1.5" r="1.5"></circle>
		                <circle id="Oval" cx="8" cy="1.5" r="1.5"></circle>
		            </g>
		        </g>
		    </g>
		</svg>
	</span>
	<h5>EP_ledge.zip</h5>
	<p>17 GB · Expires in 8 days</p>
</div>