.login-container {
  border-bottom: 1px solid #dadada;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mail-login, .mail-login .form-control {
  width: 100%;
}

.pass-login, .pass-login .form-control  {
  width: 100%;
}

.login {
  width: 100%;
}

.form-inline, .form-row {
  width: 100%;
  margin: 0;
}

.btn {
  margin-top: 5px;
}

.card-title {
	color: #7397ff;
}

.prow {
	padding: 10px !important;
}

.card-body p {
	color: #717db0;
}

.inf-card, .card-body {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
