.login-container {
  border-bottom: 1px solid #dadada;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mail-login, .mail-login .form-control {
  width: 100%;
}

.pass-login, .pass-login .form-control  {
  width: 100%;
}

.login {
  width: 100%;
}

.form-inline, .form-row {
  width: 100%;
  margin: 0;
}

.btn {
  margin-top: 5px;
}
