 <div class="shadow public-bottom-container card rounded-lg position-static shadow">
	 
	<div class="container-fluid">
		<div class="col-12"> 
			
				<button type="button" class="close-modal-btn shadow-sm" data-dismiss="modal" aria-label="Close">
                        <span class="remove" aria-hidden="true">


<svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-19.000000, -228.000000)" stroke="#ffffff" stroke-width="1.5">
            <path d="M31,229.205453 L20,240.205453" id="Shape"></path>
            <path d="M20,229.205453 L31,240.205453" id="Shape"></path>
        </g>
    </g>
</svg></span>
                      </button>
			
			<!--
			<div class="info-heading">
			<h1>Login</h1>
			</div>
			
			</div>
	</div>

	 
	<div class="container-fluid login-container">
		
		<form class="form-inline"> 
			<div class="form-row">
			<div class="col-sm-4">

  <div class="form-group mail-login">
        <label for="exampleFormControlInput1"></label>
    <input type="email" class="form-control" project_id="exampleFormControlInput1" placeholder="Email address">
  </div>
			</div>
			<div class="col-sm-3">
  <div class="form-group pass-login">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control email" project_id="inputPassword2" placeholder="Password">
  </div>
			</div>
			<div class="col-sm-3">
  <div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-sm btn-outline-form">
    <input type="checkbox" autocomplete="off"> Remember me
  </label>
</div>
			</div>
<div class="col-sm-2">
  <button type="submit" class="btn login btn-sm btn-primary disabled">Log in</button>
  </div>	
			</div>
</form>

		
	</div>
			<div class="container-fluid">
		<div class="col-sm-12"> -->
		
		
		
			<div class="info-heading">
			<h2>Targeted advertisement</h2>
				 <p>Advertising on Soundmarker is a unique opportunity<br>to reach the right audience in a striking way.</p>
				 
				 
			</div>
			</div>
	</div>
	
	<div class="container spacing"></div>
    
    <a href="http://3.122.127.21/advertise/" target="_blank"><div class="wp-block-button aligncenter"><div class="wp-block-button__link">Let's advertise!</div></div></a>
    
 <div class="spacing-lg"></div>
	

	
	<div class="spacing"></div>
	
	<!--<div class="container">
	<div class="row">
		<div class="ml-auto">
          <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
	         
            <label class="btn btn-outline-form active">
              <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage" value="stream"
                     checked>Pro features
            </label>
            <label class="btn btn-outline-form">
              <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage"
                     value="download">Pricing
            </label>
           
          </div>
        </div>
	</div>
	</div>-->
	
	<!--
	
			<div class="info-heading">
			<h1>Upgrade to<br>Soundmarker Pro</h1>
				 <p>Being audio engineers ourselves, <br>our mission is to improve the collaboration.</p>
			</div>
			</div>
	</div>
	
	<div class="container-fluid">
		<div class="row prow">
		  <div class="col-sm-6">
			<div class="card  pricing-card shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <h2>Monthly</h2>
			      <div class="row prow">
				      
					  	<h1 class="card-title pricing-title">$12</h1>
					  	<p class="pricing-title permonth">/month</p>
				      
				  </div>
				   <ul>
			        <li>
			        	<span>
							<svg width="12px" height="9px" viewBox="0 0 12 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-7.000000, -3.000000)" stroke="#ffffff" stroke-width="1.5">
							            <polyline id="Shape" points="17.956 4.33536 12 10.8 8.25 7.21536"></polyline>
							        </g>
							    </g>
							</svg>
						</span>
			        	All pro features</li>
			        <li>
			        	<span>
							<svg width="12px" height="9px" viewBox="0 0 12 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-7.000000, -3.000000)" stroke="#ffffff" stroke-width="1.5">
							            <polyline id="Shape" points="17.956 4.33536 12 10.8 8.25 7.21536"></polyline>
							        </g>
							    </g>
							</svg>
						</span>
			        	Monthly invoice</li>
		        </ul> 
				 <a href="#" class="btn pro-card-btn">Subscribe now</a>     
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6">
			<div class="card  pricing-card shadow-sm rounded-sm border-0">
		      <div class="card-body">
		        <h2>Yearly</h2>
			      <div class="row prow">
				      
					  	<h1 class="card-title pricing-title">$10</h1>
					  	<p class="pricing-title permonth">/month</p>
				      
				  </div>
		        <ul>
			        <li>
			        	<span>
							<svg width="12px" height="9px" viewBox="0 0 12 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-7.000000, -3.000000)" stroke="#ffffff" stroke-width="1.5">
							            <polyline id="Shape" points="17.956 4.33536 12 10.8 8.25 7.21536"></polyline>
							        </g>
							    </g>
							</svg>
						</span>
						All pro features</li>
			        <li>
			        	<span>
							<svg width="12px" height="9px" viewBox="0 0 12 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-7.000000, -3.000000)" stroke="#ffffff" stroke-width="1.5">
							            <polyline id="Shape" points="17.956 4.33536 12 10.8 8.25 7.21536"></polyline>
							        </g>
							    </g>
							</svg>
						</span>
			        	Yearly invoice</li> 
		        </ul>  
		        <a href="#" class="btn pro-card-btn">Subscribe now</a>    
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row prow">
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			    <div class="info-svg">
<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <desc></desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-77.000000, -296.000000)">
            <g id="audio-file-wav" transform="translate(77.000000, 296.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M15,33.25 L14.25,33.25 C13.4215729,33.25 12.75,32.5784271 12.75,31.75 L12.75,12.25 C12.75,11.4215729 13.4215729,10.75 14.25,10.75 L24.879,10.75 C25.2765472,10.7500849 25.6578016,10.9079818 25.939,11.189 L31.811,17.061 C32.0920182,17.3421984 32.2499151,17.7234528 32.25,18.121 L32.25,22.75" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M32.25,18.25 L26.25,18.25 C25.4215729,18.25 24.75,17.5784271 24.75,16.75 L24.75,10.75" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M32.25,25.75 L32.25,28.3 C32.2500774,30.0631886 32.7719965,31.7869134 33.75,33.254 C34.7280035,31.7869134 35.2499226,30.0631886 35.25,28.3 L35.25,25.75" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M17.25,25.75 L17.25,27.767 C17.250158,28.9118201 17.4687322,30.0460982 17.894,31.109 L18.75,33.25 L20.25,28 L21.75,33.25 L22.606,31.109 C23.0316936,30.0462232 23.2502838,28.9118622 23.25,27.767 L23.2500003,25.75" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M26.25,33.25 L26.25,27.25 C26.25,26.4215729 26.9215729,25.75 27.75,25.75 C28.5784271,25.75 29.25,26.4215729 29.25,27.25 L29.25,33.25" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M26.25,30.25 L29.25,30.25" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg></div>
		        <h5 class="card-title">Lossless streaming</h5>  
		        <p>Stream your mixes<br>in high quality</p>   
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg">
				      
<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <desc></desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-136.000000, -296.000000)">
            <g id="server-2" transform="translate(136.000000, 296.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M15.5,18.125 C15.2928932,18.125 15.125,18.2928932 15.125,18.5 C15.125,18.7071068 15.2928932,18.875 15.5,18.875 C15.7071068,18.875 15.875,18.7071068 15.875,18.5 C15.875,18.2928932 15.7071068,18.125 15.5,18.125" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M15.5,27.125 C15.2928932,27.125 15.125,27.2928932 15.125,27.5 C15.125,27.7071068 15.2928932,27.875 15.5,27.875 C15.7071068,27.875 15.875,27.7071068 15.875,27.5 C15.875,27.2928932 15.7071068,27.125 15.5,27.125" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M29.751,14 C32.2362814,14 34.251,16.0147186 34.251,18.5 C34.251,20.9852814 32.2362814,23 29.751,23 L16.251,23 C13.7657186,23 11.751,20.9852814 11.751,18.5 C11.751,16.0147186 13.7657186,14 16.251,14 L29.751,14 Z" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M29.751,23 C31.3586952,23 32.8442668,23.8576951 33.6481144,25.25 C34.451962,26.6423048 34.451962,28.3576952 33.6481144,29.75 C32.8442668,31.1423049 31.3586952,32 29.751,32 L16.251,32 C13.7657187,31.9999999 11.7510001,29.9852813 11.7510001,27.5 C11.7510001,25.0147187 13.7657187,23.0000001 16.251,23 L29.751,23 Z" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M21.501,18.5 L29.751,18.5" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M21.501,27.5 L29.751,27.5" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			      </div>
		        <h5 class="card-title">Continuous storage</h5>
		        <p>Have 100GB of<br>musical storage</p> 
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg">
				      
<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch --><!--
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-194.000000, -296.000000)">
            <g id="paginate-filter-plus" transform="translate(194.000000, 296.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <rect id="Rectangle-path" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x="14.75" y="11.746" width="19.5" height="19.5" rx="1.5"></rect>
                <path d="M31.25,34.246 L13.25,34.246 C12.4215729,34.246 11.75,33.5744271 11.75,32.746 L11.75,14.746" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M24.25,17.246 L24.25,26.246" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M19.75,21.746 L28.75,21.746" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			      </div>
		        <h5 class="card-title">Version control</h5> 
		         <p>Control your tracks<br>on version level</p>       
		      </div>
		    </div>
		  </div>	
		  
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg">
				      

<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
    <desc></desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-251.000000, -296.000000)">
            <g id="comment-check" transform="translate(251.000000, 296.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M18.75,19 L22.044,23.611 C22.3188105,23.995725 22.7564274,24.2313416 23.2288931,24.2489563 C23.7013588,24.266571 24.1553052,24.0641941 24.458,23.701 L35.25,10.749" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M28.783,13.824 C24.3619552,11.0880191 18.6037417,12.004327 15.2503226,15.9774629 C11.8969035,19.9505989 11.9608115,25.7809126 15.400516,29.6795869 C18.8402205,33.5782612 24.6171359,34.3681289 28.9771458,31.535896 C33.3371556,28.7036632 34.9637968,23.1044953 32.8,18.377" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			      </div>
		        <h5 class="card-title">Comment checking</h5>
		        <p>Easily keep track<br>during progress</p> 
		      </div>
		    </div>
		  </div>
	
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg">
				      

<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-76.000000, -354.000000)">
            <g id="big-files" transform="translate(76.000000, 354.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M23.002,30.501 L23.002,21.501" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <polyline id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" points="20.002 24.501 23.002 21.501 26.002 24.501"></polyline>
                <rect id="Rectangle-path" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x="11.752" y="17.751" width="22.5" height="16.5" rx="1.5"></rect>
                <path d="M11.954,18.5 L14.354,12.641 C14.5953252,12.0988606 15.1335762,11.7499579 15.727,11.751 L30.277,11.751 C30.8699345,11.7509247 31.4072686,12.1001331 31.648,12.642 L33.991,18.407" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M23.002,17.751 L23.002,11.751" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			      </div>
		        <h5 class="card-title">Super big files</h5>  
		         <p>Upload & share<br>entire projects</p>      
		      </div>
		    </div>
		  </div>
	
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			    <div class="info-svg">
				    
<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
    <desc></desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-77.000000, -354.000000)">
            <g id="password-cursor" transform="translate(77.000000, 354.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M22.75,25.75 L12.25,25.75 C11.4215729,25.75 10.75,25.0784271 10.75,24.25 L10.75,15.25 C10.75,14.4215729 11.4215729,13.75 12.25,13.75 L30.25,13.75 C31.0784271,13.75 31.75,14.4215729 31.75,15.25 L31.75,21.25" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M15.25,19.375 C15.4571068,19.375 15.625,19.5428932 15.625,19.75 C15.625,19.9571068 15.4571068,20.125 15.25,20.125 C15.0428932,20.125 14.875,19.9571068 14.875,19.75 C14.8747335,19.6504624 14.9141567,19.5549247 14.9845407,19.4845407 C15.0549247,19.4141567 15.1504624,19.3747335 15.25,19.375" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M21.25,19.375 C21.4571068,19.375 21.625,19.5428932 21.625,19.75 C21.625,19.9571068 21.4571068,20.125 21.25,20.125 C21.0428932,20.125 20.875,19.9571068 20.875,19.75 C20.8747335,19.6504624 20.9141567,19.5549247 20.9845407,19.4845407 C21.0549247,19.4141567 21.1504624,19.3747335 21.25,19.375" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M27.25,19.375 C27.4571068,19.375 27.625,19.5428932 27.625,19.75 C27.625,19.9571068 27.4571068,20.125 27.25,20.125 C27.0428932,20.125 26.875,19.9571068 26.875,19.75 C26.8747335,19.6504624 26.9141567,19.5549247 26.9845407,19.4845407 C27.0549247,19.4141567 27.1504624,19.3747335 27.25,19.375" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <rect id="Rectangle-path" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x="24.25" y="28.75" width="9" height="7.5" rx="1.5"></rect>
                <path d="M28.75,24.25 C27.0931458,24.25 25.75,25.5931458 25.75,27.25 L25.75,28.75 L31.75,28.75 L31.75,27.25 C31.75,25.5931458 30.4068542,24.25 28.75,24.25 Z" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M28.75,32.154 C28.9571068,32.154 29.125,32.3218932 29.125,32.529 C29.125,32.7361068 28.9571068,32.904 28.75,32.904 C28.5428932,32.904 28.375,32.7361068 28.375,32.529 C28.375,32.3218932 28.5428932,32.154 28.75,32.154" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			    </div>
		        <h5 class="card-title">Password protection</h5>
		        <p>Protect every link<br>with a password</p> 
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg">
				      
<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <desc></desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-136.000000, -354.000000)">
            <g id="touch-id-1" transform="translate(136.000000, 354.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M14.749,20 C14.7489849,16.8062482 16.5923166,13.8993907 19.4811706,12.5375636 C22.3700245,11.1757364 25.7853743,11.6036125 28.249,13.636" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M30.687,17 C31.0597472,17.9562117 31.2503578,18.973706 31.249,20 L31.249,26 C31.249,30.5559587 27.5559587,34.2494478 23,34.25 C22.4969205,34.2500222 21.9948718,34.2045031 21.5,34.114" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M17.751,32.365 C15.8491445,30.7989759 14.7484322,28.4636313 14.751,26 L14.7509955,23.75" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M26.749,26 L26.749,20 C26.749,18.5796048 25.9464911,17.2811181 24.676051,16.645898 C23.4056109,16.010678 21.8853162,16.1477629 20.749,17" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M19.249,20 L19.249,26 C19.2500365,27.2647886 19.8880626,28.4439843 20.9462229,29.1367962 C22.0043831,29.829608 23.3403318,29.9428376 24.5,29.438" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M22.999,20.75 L22.999,25.25" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			      </div>
		        <h5 class="card-title">Personalised page</h5>
		        <p>Customize the page<br>your client sees</p> 
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg">
				      

<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <desc></desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-255.000000, -354.000000)">
            <g id="stats" transform="translate(255.000000, 354.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M23,16.251 C18.969,16.183 14.8,19 12.179,21.885 C11.6091833,22.5176027 11.6091833,23.4783973 12.179,24.111 C14.743,26.935 18.9,29.817 23,29.748 C27.1,29.817 31.258,26.935 33.824,24.111 C34.3938167,23.4783973 34.3938167,22.5176027 33.824,21.885 C31.2,19 27.031,16.183 23,16.251 Z" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M26.75,23 C26.7494477,25.0709375 25.0702711,26.7493681 22.9993335,26.7489999 C20.9283959,26.7486318 19.2498161,25.0696044 19.2500001,22.9986668 C19.2501842,20.9277291 20.9290624,19.2490001 23,19.249 C23.9948165,19.2487345 24.9489495,19.6438747 25.6522972,20.34741 C26.355645,21.0509453 26.7505307,22.0051836 26.75,23 Z" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			      </div>
		        <h5 class="card-title">More insight</h5>  
		         <p>See how your<br>clients listen</p>      
		      </div>
		    </div>
		  </div>	
		    <div class="col-sm-4">
		    <div class="card info-card text-center shadow-sm rounded-sm border-0">
		      <div class="card-body">
			      <div class="info-svg">
				      
<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <desc></desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-194.000000, -354.000000)">
            <g id="graph-stats" transform="translate(194.000000, 354.000000)">
                <circle id="Oval-2" fill="#EEF1FF" fill-rule="nonzero" cx="23" cy="23" r="23"></circle>
                <path d="M11.75,22.75 L15.25,22.75 C15.8556726,22.7501682 16.402018,22.3860695 16.635,21.827 L19.235,15.712 C19.35657,15.42597 19.641958,15.2445533 19.9525452,15.2558675 C20.2631324,15.2671818 20.5345639,15.4688827 20.635,15.763 L25.369,30.488 C25.4694361,30.7821173 25.7408676,30.9838182 26.0514548,30.9951325 C26.362042,31.0064467 26.64743,30.82503 26.769,30.539 L29.364,23.673 C29.596982,23.1139305 30.1433274,22.7498318 30.749,22.75 L34.249,22.75" id="Shape" stroke="#7397FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</svg>
			      </div>
		        <h5 class="card-title">Loudness Analyzer</h5>  
		         <p>Check your masters<br>cross platform</p>      
		      </div>
		    </div>
		  </div>	
		   
		
	</div>
	</div> 
	
	<div class="spacing"></div>
	
	<div class="pro-footer">
		
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-12">
					
					<p>Interested in Soundmarker Pro, <br>stay up to date with our latest developments</p>
					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
					<div class="col-sm-6">
					
						<form class="form-inline">
							<label class="sr-only" for="inlineFormInputName2">Name</label>
							<input type="email" class="form-control-lg mail-fillin mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Email">
							<button type="submit" class="mail-submit btn btn-sm btn-primary mb-2">Submit</button>
						</form>
						
					</div>
				<div class="col-sm-3"></div>
					
				
			</div>
			
		</div>
		
	</div>  -->
	
	<app-info-footer></app-info-footer>
	
	
 </div>
