h5 {
  font-family: 'sofia-bold';
  font-size: 10pt;
  margin-bottom: 4px;
}

.big-bb {
  min-width: 530px;
  max-width: 640px;
  width: calc(100% - 40px);
  min-height: 233px;
}

.board-box {
  border: 1px solid #eef1ff;
  background-color: #ffffff;

  margin: 20px;
}

.slim-bb {
  min-height: 133px;
  display: none;
}

.small-bb {
  width: 200px;
  display: block;
  min-height: 233px;
}

.rounded-lg {
  border-radius: 0.6rem;
}

@media (max-width: 1479.98px) {

  .board-col-small {
    max-width: 240px;
  }
}

@media (max-width: 889.98px) {

  .board-zone {
    padding-top: 58px !important;
  }

  .board-col-big {
    margin-left: auto;
    margin-right: auto;
  }

  .board-col-small {
    margin-right: auto;
  }
}

@media (max-width: 849.98px) {

  .board-col-small {
    display: none;
  }

  .slim-bb {
    display: block;
  }

  .board-col-big {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 689.98px) {

  .big-bb {
    width: 100%;
  }

  .board-zone {
    padding: 10px !important;
    padding-top: 48px !important;
  }

  .board-box {
    margin: 0px;
  }

  .board-col {
    padding: 10px;
  }

  .slim-bb {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 575.98px) {

  .board-zone {
    padding: 5px !important;
    padding-top: 43px !important;
  }

  .big-bb {
    min-width: 300px;
  }

  .board-col {
    padding: 5px;
  }

  .slim-bb {
    margin-bottom: 10px !important;
  }
}
