<div class="big-bb board-box rounded-lg object-shadow p-2">
  <div class="d-flex flex-row">
    <h5 class="board-box-title">
      <ng-content select=".title"></ng-content>
    </h5>
    <div *ngIf="showMenu()" class="dropdown ml-auto">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <span class="more">
          <ng-container *ngTemplateOutlet="more_dots"></ng-container>
        </span>
      </a>
      <div #contentchild class="dropdown-menu dropdown-menu-right object-shadow board-box-dropdown"
           aria-labelledby="dropdownMenuLink">
        <ng-content select=".menu"></ng-content>
      </div>
    </div>
  </div>
  <div>
    <ng-content select=".body"></ng-content>
  </div>
</div>

<ng-template #more_dots>
  <svg width="28px" height="8px" viewBox="0 0 24 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g id="Page-1" stroke="none" stroke-width="1" fill="#7397FF" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Interface-Essential-/-Menu-/-navigation-menu-horizontal" transform="translate(0.000000, -9.000000)"
         class="menu-icon" stroke="#7397FF" stroke-width="1.5">
        <g id="Group" transform="translate(0.000000, 9.000000)">
          <g id="navigation-menu-horizontal">
            <circle id="Oval" cx="4" cy="4" r="2"></circle>
            <circle id="Oval" cx="12.5" cy="4" r="2"></circle>
            <circle id="Oval" cx="21" cy="4" r="2"></circle>
          </g>
        </g>
      </g>
    </g>
  </svg>
</ng-template>
