.navbar {
	height: 48px;
  padding: 0rem 0.6rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  
}

.soundmarker-logo {
  background: url(../../public-info/header/sm-logo-topbar.svg);
  width: 154px;
  height: 46px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

// responsive

@media (max-width: 768px) {
	
	.navbar {
		display: none;
	}
	
	}



