@import "../comment/comment.component";

.reply {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 0.6rem;
  margin-top: 10px;
  margin-bottom: 0px;
  border-left: 2px solid #bac1da;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;

  &.pending {
    opacity: 0.5;
  }
}

.comment-options {
	margin-top: -9px;
	margin-bottom: -5px;
}

.comment-options:hover .comment-options-fill, .comment-options:focus-within .comment-options-fill {
	fill: #7397ff;
}

.comment-options:hover .menu-icon, .comment-options:focus-within .menu-icon {
	stroke: #7397ff;
}

.name-tx {
	margin-bottom: 0rem !important;
	font-family: "sofia-medium";
	color: #bac1da;
}

.comment-tx {
	color: #717db0;
	margin-bottom: 0px !important;
	
}

.reply-row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.date-tx {
	margin-bottom: -0.4rem;
	font-size: 8pt;
	display: inline;
	text-align: right;
	float: right;
	margin-right: 5px;
}
