<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Map to Angular-js distribution
    RewriteRule ^$ /soundmarker-dev/soundmarker-development/dist/Soundmarker-sass/ [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/soundmarker-dev/soundmarker-development/dist/Soundmarker-sass/
    RewriteRule ^(.*)$ /soundmarker-dev/soundmarker-development/dist/Soundmarker-sass/$1

    # Handle Front Controller...
    RewriteCond %{REQUEST_URI} "/file/upload" [OR]
    RewriteCond %{REQUEST_URI} "/file/new" [OR]
    RewriteCond %{REQUEST_URI} "/track/url" 
    RewriteRule ^ index.php [L]
</IfModule>