<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    SetHandler application/x-httpd-php

    # Redirect to https
    RewriteCond %{ENV:EnvType} Production
    RewriteCond %{HTTP:X-Forwarded-Proto} ^http$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Remove www
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_URI} "/file/upload" [OR]
    RewriteCond %{REQUEST_URI} "/file/new" [OR]
    RewriteCond %{REQUEST_URI} "/track/url" [OR]
    RewriteCond %{REQUEST_URI} "/track/file/download/" [OR]
    RewriteCond %{REQUEST_URI} "/track" [OR]
    RewriteCond %{REQUEST_URI} "/track/new" [OR]
    RewriteCond %{REQUEST_URI} "/track/visibility" [OR]
    RewriteCond %{REQUEST_URI} "/track/version" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/edit" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/comments" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/delete" [OR]
    RewriteCond %{REQUEST_URI} "/comments/new" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/comment" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/delete/comment" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/comment/check" [OR]
    RewriteCond %{REQUEST_URI} "/project/set/viewpassword" [OR]
    RewriteCond %{REQUEST_URI} "/project/new" [OR]
    RewriteCond %{REQUEST_URI} "/project/all" [OR]
    RewriteCond %{REQUEST_URI} "/project/edit" [OR]
    RewriteCond %{REQUEST_URI} "/project/password" [OR]
    RewriteCond %{REQUEST_URI} "/project/delete" [OR]
    RewriteCond %{REQUEST_URI} "/project/subscribe" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/([a-z0-9/-]+)$/waveform" [OR]
    RewriteCond %{REQUEST_URI} "/track/version/([a-z0-9/-]+)$/last_seen" [OR]
    RewriteCond %{REQUEST_URI} "/project/([a-z0-9/-]+)$" [OR]
    RewriteCond %{REQUEST_URI} "/file/chunk/([a-z0-9/-]+)$" [OR]
    RewriteCond %{REQUEST_URI} "/unsubscribe/([a-z0-9/-]+)$" [OR]
    RewriteCond %{REQUEST_URI} "/subscribe/([a-z0-9/-]+)$" [OR]
    RewriteCond %{REQUEST_URI} "/login" [OR]
    RewriteCond %{REQUEST_URI} "/sma" [OR]
    RewriteCond %{REQUEST_URI} "/account" [OR]
    RewriteCond %{REQUEST_URI} "/user" [OR]
    RewriteCond %{REQUEST_URI} "/pro" [OR]
    RewriteCond %{REQUEST_URI} "/pro/dashboard"
    RewriteRule ^ index.php [L]


    # Prefer .php over .html
    DirectoryIndex index.php index.html index.shtml index.htm Index.html Index.htm Index.shtml default.htm Default.htm default.html Default.html default.shtml Default.shtml page1.html index.pl index.cgi index.php3 index.phtml home.htm home.html home.shtml index.wml index.pcgi quickstart.html
    Header set Access-Control-Allow-Origin "http://localhost:4200"
    Header set Access-Control-Allow-Headers "*"
</IfModule>

# password protect single file
<If "%{ENV:EnvType} == 'Staging'">
<Files "index.html">
AuthType Basic
AuthName "Private section"
AuthUserFile /etc/httpd/.htpasswd
Require user soundmarker
</Files>
<FilesMatch "^$">
AuthType Basic
AuthName "Private section"
AuthUserFile /etc/httpd/.htpasswd
Require user soundmarker
</FilesMatch>
</If>

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>
