// header

body {
	color: #9B9B9B !important;
}



.navbar {
	padding: 0.1rem 0.6rem;
}

.soundmarker-logo {
  background: url(sm-logo-topbar.svg);
  width: 140px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar-nav .nav-link {
  font-size: 10pt;
  padding-right: 1rem;
  padding-left: 1rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
}

.shadow-lg {
  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.25) !important;
}





// form

.bg-light {
  background-color: #FAFAFA !important;
}

.public-upload-form {
  margin-top: 60px;
  width: 750px;
}

.form-control {
	border: 1px solid #E4E4E4;
	font-size: 10pt;
}

.form-control:focus{
    border-color: #cecece;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

.form-control::placeholder {
  color: #9B9B9B;
  opacity: 1;
}
.upload-songs-text {
  text-align: center;
}

.rounded {
	border-radius: 0.3rem !important;
}



.form-group {
	margin-bottom: 0.7rem;
}



textarea {
    resize: none;
}

.btn-group-sm>.btn, .btn-sm {
  font-size: 10pt;
}



.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-outline-form {
  color: #9B9B9B;
  background-color: white;
  background-image: none;
  border: 1px solid #E4E4E4;
}

.btn-outline-form:hover {
  color: #fff;
  background-color: #E4E4E4;
  border: 1px solid #E4E4E4;
}

.btn-outline-form:focus, .btn-outline-form.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-form.disabled, .btn-outline-form:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-form:not(:disabled):not(.disabled):active, .btn-outline-form:not(:disabled):not(.disabled).active,
.show > .btn-outline-form.dropdown-toggle {
  color: #fff;
  background-color: #FF857D;
    border: 1px solid #E4E4E4;

}

.btn-outline-form:not(:disabled):not(.disabled):active:focus, .btn-outline-form:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-form.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}


.free-upload {
	width: 100%;
}

.btn-primary {
	background-color: #FF857D;
	border-color: #FF857D;
}

.btn-primary.disabled, .btn-primary:disabled {
  
  background-color: #E4E4E4;
  border-color: #E4E4E4;
}

.btn-secondary {
  background-color: #5673AB;
  }




// file select

.note-image {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  background: url(SM-note.svg);
  width: 47px;
  height: 47px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.upload-songs-area {
  position: relative;
  height: 100%;
  max-height: 129px;
  padding-top: 0;
  overflow-y: scroll;
  border: 1px solid #E4E4E4;
}



.upload-songs-text {
	
	text-align: center;
	font-size: 12pt;
	margin-bottom: 3px;
}

.tabletainer {
	padding: 10px;
}

.table {
	margin-bottom: auto;
	table-layout: fixed;
}

table tr {
	width: 100%;
}

table tr td{
	padding-bottom: 0rem;
	padding-left: 0.5rem;
	padding-top: 0.4rem;
	width: 100%;
	height: 32px;
	 white-space: nowrap;
    overflow: hidden;
}

table tr td p {
	font-size: 9pt;
	color: #2F2F2F;
	margin-bottom: 0;
	padding-bottom: 0;
}

.btn-cross {
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff 100%);
	color: red;
	margin-left: -20px;
	border: 0;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 0;
	padding-right: 4px;
}

.upload-songs-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.my-drop-zone {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}


// responsive

@media (max-width: 768px) {
.public-upload-form {
  margin-top: 60px;
  width: 100%;
  max-width: 268px;
}

.wide-nav {
	display: none;
}


  }
