<div clas="container rounded">
<div class="public-upload-form card shadow-lg rounded border-0 position-static">

  <nav class="wide-nav navbar navbar-expand-sm navbar-light bg-white shadow">
  <a class="navbar-brand" href="#"><div class="soundmarker-logo"></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <form class="form-inline">
          <button class="btn btn-sm btn-secondary" href="#">PRO</button>
        </form>
    </ul>
  </div>
</nav>
  <div class="card-body bg-light">

  <div *ngIf="uploader.isUploading; then uploadprocess"></div>
  <div *ngIf="!uploader.isUploading && !finished; then selectsongs"></div>
  <div *ngIf="!uploader.isUploading && finished; then uploadfinished"></div>

  <ng-template #selectsongs>
    <form (ngSubmit)="onFormSubmit()">
      
        <div class="form-row">

          <div class="form-field col-md-4">

            

            <div class="card upload-songs-area rounded">
	            
	            
	            <table class="table">
              <tbody>
	              
              <tr *ngFor="let item of uploader.queue">
                <td><p>{{ item?.file?.name }}</p></td>
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="item.remove()">
                  <span class="glyphicon glyphicon-trash"></span> remove
                </button>
              </tr>
              </tbody>
            </table>

              <input class="upload-songs-input" type="file" ng2FileSelect [uploader]="uploader" multiple

                     accept="audio/*"/>

              <div class="note-image"></div>

              <div class="upload-songs-text">

                <div *ngIf="uploader.getNotUploadedItems().length == 0; then uploadsongs else addsongs"></div>

                <ng-template #uploadsongs>
                  <div><h5>UPLOAD SONGS</h5></div>
                  <div><h6>Up to 5GB</h6></div>
                </ng-template>

                <ng-template #addsongs>
                  <div><p>ADD SONGS</p></div>
                </ng-template>

              </div>

            </div>

          </div>

          <div class="col-md-8">
            <div class="form-row">
              <div class="form-group col">
                <textarea type="text" placeholder="Notes" class="form-control form-control-sm rounded " rows="2"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <input type="text" [(ngModel)]='email_from' name="email_from" placeholder="Email from" class="form-control form-control-sm rounded">
              </div>
              <div class="col">
                <input type="text" [(ngModel)]='email_to' name="email_to" placeholder="Email to" class="form-control form-control-sm rounded">
              </div>
            </div>
            <div class="form-row">
              <div class="col">
              <div class="btn-group btn-group-sm btn-group-toggle rounded" data-toggle="buttons">
                <label class="btn btn-outline-form active">
                  <input class="slide-selector" type="radio" ngModel="expiration" name="expiration" autocomplete="off" checked value="1 week">1 week
                </label>
                <label class="btn btn-outline-form">
                  <input class="slide-selector" type="radio" ngModel="expiration" name="expiration" autocomplete="off" value="1 month">1 month
                </label>
              </div>
              </div>
              <div class="col">
              <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-form active">
                  <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" checked name="usage" value="stream">Stream
                </label>
                <label class="btn btn-outline-form">
                  <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage" value="download">Download
                </label>
                <label class="btn btn-outline-form">
                  <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage" value="both">Both
                </label>
              </div>
            </div>
            <div class="col">
                  <button type="submit" [disabled]="!uploader.getNotUploadedItems().length" class="btn btn-primary btn-sm free-upload">
                    <span class="glyphicon glyphicon-upload"></span>SHARE SONGS
                  </button>
               </div> 
            </div>
          </div>
        </div>
      
    </form>
    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="well my-drop-zone">
    </div>
  </ng-template>

  <ng-template #uploadprocess>
    <div class="container">
      <div>
        Queue progress: {{uploader.progress}}%
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #uploadfinished>
    <iframe src="https://giphy.com/embed/a0h7sAqON67nO" width="480" height="270" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
  </ng-template>
</div>
</div>


