

    <div class="card-body bg-light rounded-lg">

      <div *ngIf="uploader.isUploading; then uploadprocess"></div>
      <div *ngIf="!uploader.isUploading && !finished; then selectsongs"></div>
      <div *ngIf="!uploader.isUploading && finished; then uploadfinished"></div>

      <ng-template #selectsongs>
        <form (ngSubmit)="onFormSubmit()">

          <div class="form-row">

            <div class="form-field col-md-4">


              <div class="card upload-songs-area rounded border-0">




                <div class="upload-songs-text">

                  <div *ngIf="uploader.getNotUploadedItems().length == 0; then uploadsongs else addsongs"></div>

                  <ng-template #uploadsongs>
                 
                    <div class="addsongs"> 
	                    <div class="note-image" id="ni1"></div><h5>Add songs</h5>
	                    
                    <div><h6>Up to 5GB</h6></div></div>
                  </ng-template>

                  <ng-template #addsongs>
                  <div class="note-image" id="ni2"></div>
                    <div class="addmoresongs"><h5> Add more songs</h5></div>
                  </ng-template>

                </div>


                <div class="tabletainer">

                  <table class="table">
                    <tbody>

                    <tr *ngFor="let item of uploader.queue">
                      <td><p>{{ item?.file?.name }}</p></td>
                      <button type="button" class="btn-cross close"
                              (click)="item.remove()">
                        <span class="remove" aria-hidden="true">&times;</span>
                      </button>
                    </tr>
                    </tbody>
                  </table>

                </div>

                <input class="upload-songs-input" type="file" ng2FileSelect [uploader]="uploader" multiple

                       accept="audio/*"/>

                
              </div>

            </div>

            <div class="col-md-8">
              <div class="form-row">
                <div class="form-group col">
                <textarea type="text" placeholder="Notes" class="form-control form-control-sm"
                          rows="3"></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" [(ngModel)]='email_from' name="email_from" placeholder="Email from"
                         class="form-control form-control-sm">
                </div>
                <div class="col">
                  <input type="text" [(ngModel)]='email_to' name="email_to" placeholder="Email to"
                         class="form-control form-control-sm">
                </div>
              </div>
              <div class="form-row radios">
                <div class="col">
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-form active">
                      <input class="slide-selector" type="radio" ngModel="expiration" name="expiration"
                             autocomplete="off"
                             checked value="1 week">1 week
                    </label>
                    <label class="btn btn-outline-form">
                      <input class="slide-selector" type="radio" ngModel="expiration" name="expiration"
                             autocomplete="off"
                             value="1 month">1 month
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-form active">
                      <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" checked name="usage"
                             value="stream">Stream
                    </label>
                    <label class="btn btn-outline-form">
                      <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage"
                             value="download">Download
                    </label>
                    <label class="btn btn-outline-form">
                      <input class="slide-selector" type="radio" ngModel="usage" autocomplete="off" name="usage"
                             value="both">Both
                    </label>
                  </div>
                </div>
                <div class="col">
                  <button type="submit" [disabled]="!uploader.getNotUploadedItems().length"
                          class="btn btn-primary btn-sm free-upload">
                    <span class="glyphicon glyphicon-upload"></span>Share songs
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
        </div>
      </ng-template>

      <ng-template #uploadprocess>
        <div class="container progress-container">
          <div>
	          <div class="note-image" id="ni3"></div>
            <h5>Uploading songs...</h5><h6> {{uploader.progress}}% </h6>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #uploadfinished>
       	<div class="container-fluid">
	       	 <div class="row">
		   	 	<div class="col-3">
		   	 		GIF
    			</div>
				<div class="col-9">
					<h3>Well done, mate!</h3>
					<p>The songs will be available untill january 17th.<br><br><br></p>

<button type="button" class="btn btn-secondary btn-sm">Copy link</button>
<button type="button" class="btn btn-primary btn-sm">Show songs</button>
<button type="button" class="btn btn-primary btn-sm">Share more songs</button>

    			</div>
				
  			</div>
       	</div>
      </ng-template>

     

</div>


