<nav class="wide-nav navbar navbar-rounded navbar-expand-sm shadow-topbar">

  <a href class="navbar-brand">
    <div class="soundmarker-logo"></div>
  </a>

  <div class="ml-auto">
  </div>
  <div *ngIf="showAutoplayToggle()">

    <div class="navbar autoplay-button">
      <ul class="nav nav-pills">
        <label class="switch">
          <input type="checkbox" checked [(ngModel)]="projectService.autoPlay">
          <span class="slider round"></span>
        </label>
      </ul>
    </div>

    <div class="autoplay-text dropdown-menu dropdown-menu-right">
      <div class="arrow-up"></div>
      <div class="dropdown-container shadow-dropdown">
        <div class="container-fluid">
          <h5 class="noselect">
            Autoplay {{projectService.autoPlay? "ON" : "OFF"}}
          </h5>
        </div>
      </div>
    </div>


  </div>

  <div *ngIf="message">

    <div class="navbar messages-icon" id="navbarNavDropdown">

      <ul class="nav nav-pills">


        <li class="nav-item dropdown">
          <a href data-toggle="modal"
             data-target=".info-modal-player-subscribe"
             class="nav-link nav-link-messages dropdown-toggle" id="messages" href
             role="button" aria-haspopup="true"
             aria-expanded="false">

            <svg width="12px" height="16px" viewBox="0 0 14 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="#7397ff" fill-rule="evenodd" stroke-linecap="round"
                 stroke-linejoin="round">
                <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
                   transform="translate(-119.000000, -136.000000)" stroke="#7397ff" stroke-width="1.5">
                  <g id="Group-2" transform="translate(120.000000, 137.000000)">
                    <path d="M0,13 L12,13" id="Shape"></path>
                    <path
                      d="M12,13 C12,13 10.8,11.9006734 10.8,7.94949495 C10.8,4.79292929 8.7504,2 6,2 C3.2496,2 1.2,4.79292929 1.2,7.94949495 C1.2,11.9217172 0,13 0,13"
                      id="Shape"></path>
                    <path d="M7,15 C7,15.5522847 6.55228475,16 6,16 C5.44771525,16 5,15.5522847 5,15"
                          id="Shape"></path>
                    <path d="M6,2 L6,0.5" id="Shape"></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>

          <span class="notifications"></span>

        </li>

      </ul>

    </div>

  </div>

  <a class="nav-link-more" href="https://more.soundmarker.com" target="_blank" role="button">

    <span class="hide-phone">Learn more <i class="fas fa-angle-double-right"></i></span><span class="show-phone">More <i class="fas fa-angle-double-right hide-phone"></i></span>


  </a>
</nav>
