<div class="pro-page d-flex flex-row">
  <div class="border flex-column">
    <app-pro-dashboard-sidebar></app-pro-dashboard-sidebar>
    <div class="m-3">side</div>
    <div class="m-3">bar</div>
    <div class="m-3" routerLink="dashboard" routerLinkActive="active">dashboard</div>
    <div class="m-3" routerLink="upload" routerLinkActive="active">upload</div>
  </div>
  <div class="d-flex flex-column flex-grow-1">
    <div class="border d-flex flex-row">
      <div class="m-3">top</div>
      <div class="m-3">bar</div>
      <div class="m-3">iedemenne, {{(currentUser$ | async).email}}</div>
      <div class="m-3" (click)="logout()">Log out</div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
