#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -280px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  z-index: 10000;
  
}

.pro-sidebar-right {
	height: 100vh;
	width: 210px;
	background: #eef1ff;
	position: absolute;
	right: 0px;
	z-index: 9999;
	margin-right: -210px;
}

#page-content-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background: #fff;
}

#pro-wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#pro-wrapper.foggled #right-sidebar-wrapper {
  margin-right: -210px;
}


.pro-board {
	background: #fff;
	width: 100%;
	height: 100%;
}

/* NAVBAR */

/* SIDEBAR */

/* BOARD */

/* ON BOARD */

/* GENERAL */

.black-overlay, .flack-overlay {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: rgba(113, 124, 176, 0.3);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
  
  cursor: pointer;
}



.object-shadow-black {
	-webkit-box-shadow: 0 0.07rem 0.3rem 0.01rem rgba(113, 124, 176, 0.25) !important;
	-moz-box-shadow: 0 0.07rem 0.3rem 0.01rem rgba(113, 124, 176, 0.25) !important;
	box-shadow: 0 0.07rem 0.3rem 0.01rem rgba(113, 124, 176, 0.25) !important;
}

/* RESPONSIVE */

@media (min-width: 889.98px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  

  

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  

  #sidebar-wrapper .list-group {
  width: 280px;
}
  
}



@media (max-width: 889.98px) {
	
	
	#page-content-wrapper {
    min-width: 810px !important;
  
  }
    #pro-wrapper.toggled #sidebar-wrapper {
    margin-left: 0px !important;
  }
  
 
  
  #pro-wrapper.toggled .black-overlay {
	  opacity: 1;
	  pointer-events: all;
      
  }
  

  
 #sidebar-wrapper {
    margin-left: -280px !important;
  }
  
  
  #page-content-wrapper {
    min-width: 100vw !important;
    position: absolute;
  }


}

@media (min-width: 575.98px) {
	#page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  
    #wrapper.foggled #right-sidebar-wrapper {
    margin-right: -210px;
  }
  
 
}

@media (max-width: 575.98px) {
	
	 #right-sidebar-wrapper {
    margin-right: -210px !important;
  }
  
     #pro-wrapper.foggled #right-sidebar-wrapper {
    margin-right: 0px !important;
  }
  
	
	   #pro-wrapper.foggled .flack-overlay {
	  opacity: 1;
	  pointer-events: all;
      
  }
}


