
<svg class="loader-svg-button" version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="27.2px" height="27.2px" viewBox="0 0 27.2 27.2" enable-background="new 0 0 27.2 27.2" xml:space="preserve">
<circle class="color" cx="13.6" cy="13.6" r="13.6"/>
</svg>

<svg class="loader-svg-text" version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="110px" height="23.6px" viewBox="0 0 110 23.6" enable-background="new 0 0 110 23.6" xml:space="preserve">
<path class="color" d="M105.1,9.6H4.8C2.1,9.6,0,7.4,0,4.8l0,0C0,2.1,2.2,0,4.8,0h100.4c2.7,0,4.8,2.2,4.8,4.8l0,0
	C109.9,7.5,107.8,9.6,105.1,9.6z"/>
<path class="color" d="M48.1,23.6H4.8c-2.7,0-4.8-2.2-4.8-4.8l0,0C0,16.1,2.2,14,4.8,14h43.3c2.7,0,4.8,2.2,4.8,4.8l0,0
	C52.9,21.5,50.7,23.6,48.1,23.6z"/>
</svg>