.comment-preview {
	position: relative;
	margin-top: 0px;
	padding: 10px;
	margin-left: -10px;
	margin-bottom: -100px;
	float: left;
	cursor: pointer;
	z-index: 99;
}

.comment-preview.disabled {
	pointer-events: none !important;
	cursor: auto !important;
}

.comment-preview.disabled svg circle {
	fill: #eef1ff
}

.comment-form-text {
	padding-left: 24px !important;
}

.free-upload {
	margin-top: 9px;
}

textarea {
  resize: none;
  padding-left: 0px ;
}

.input-group-text {
	border: none;
}

.form-row.sub {
	margin-top: 12px;
	margin-bottom: -15px;
	margin-right: 0px !important;
  max-height: 45px;
}

.name-box {
	width: 100%;
	margin-left: 0px;
}

.check-tag-box {
	margin-right: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.tag-box {
	width: 54px;
	margin-left: -10px !important;
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-left: 0px !important;
}

.cancel {
	margin-right: 8px;
	cursor: pointer;
}

.cancel:hover {
	cursor: pointer;
}
.cancel p {
	padding-top: 6px;
	color: #7397FF;
}

.cancel p:hover {
	color: #4479db;
	cursor: pointer;
}

input.disabled {
  color: #bac1da;
}

// responsive

@media (max-width: 768px) {
	.form-row.sub {
	margin-top: 12px;
	margin-bottom: -15px;
	margin-right: 0px !important;
  max-height: 90px;
}

.name-box {
	margin-right: -5px;
}

.col-md-3.name {
	padding-right: 0px;
}

}

@media (max-width: 576px) {

	.check-tag-box {
	margin-right: 0px !important;
	border-bottom-right-radius: 0.2rem !important;
	border-top-right-radius: 0.2rem !important;
}

}
