<form [formGroup]="commentForm" (ngSubmit)="onFormSubmit()">
  Name: <input formControlName="text" placeholder="Enter Comment"
               [value]="'iedemenne'">
  <button type="submit">Submit</button>
</form>

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="comment-form container-fluid"
      [ngFormOptions]="{ updateOn: 'change'}">
  <div class="form-row">
    <textarea type="text" required [(ngModel)]='comment.text' name="text" placeholder="Type comment"
              class="form-row comment-form-text form-control form-control-sm" rows="1"></textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-5">
      <input type="text" required [(ngModel)]='comment.name' name="name" placeholder="Type name"
             class="row comment-form-name form-control form-control-sm">
    </div>
    <div class="form-group col">
      <input type="text" required [(ngModel)]='comment.tag' name="tag" placeholder="Type tag"
             class="row comment-form-tag form-control form-control-sm">
    </div>
    <div class="form-group col">
      <input [(ngModel)]="comment.includeStart" name="includeStart" type="checkbox" (click)="triggerStart()">
    </div>
    <div class="form-group col">
      <input type="text" [(ngModel)]='comment.start' name="start" placeholder="START"
             [ngClass]="['row comment-form-start-time form-control form-control-sm', comment.includeStart ? 'enabled' : 'disabled']">
    </div>
    <div class="form-group col">
      <input [(ngModel)]="comment.includeEnd" name="includeEnd" type="checkbox" (click)="triggerEnd()">
    </div>
    <div class="form-group col">
      <input type="text" [(ngModel)]='comment.end' name="end" placeholder="END"
             [ngClass]="['row comment-form-end-time form-control form-control-sm', comment.includeEnd ? 'enabled' : 'disabled']">
    </div>
    <div class="form-group col-2">
      <button type="submit" class="btn btn-primary btn-sm free-upload" [disabled]="!myForm.valid">Add comment</button>
    </div>
  </div>
</form>
