<form #myForm="ngForm" (ngSubmit)="onSubmit()" class="comment-form container-fluid">
  <div class="form-group col">
    <input type="text" required [(ngModel)]='comment.text' name="text" placeholder="Type comment" class="form-row comment-form-text"/>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <input type="text" required [(ngModel)]='comment.name' name="name" placeholder="Type name" class="row comment-form-name"/>
    </div>
    <div class="form-group col">
      <input type="text" required [(ngModel)]='comment.tag' name="tag" placeholder="Type tag" class="row comment-form-tag"/>
    </div>
    <div class="form-group col">
      <input type="text" required [(ngModel)]='comment.start' name="start" placeholder="START" class="row comment-form-start-time"/>
    </div>
    <div class="form-group col">
      <input type="text" [(ngModel)]='comment.end' name="end" placeholder="END" class="row comment-form-end-time"/>
    </div>
    <div class="form-group col">
      <button type="submit" [disabled]="!myForm.valid">ADD COMMENT</button>
    </div>
  </div>
</form>
