.comment-preview {
  position: relative;
  margin-top: 10px;
  margin-bottom: -100px;
  float: left;
  cursor: pointer;
}

.comment-preview.disabled {
  pointer-events: none !important;
  cursor: auto !important;
}

.comment-preview.disabled svg circle {
  fill: #eef1ff
}

.comment-form-text {
  padding-left: 24px !important;
}

textarea {
  resize: none;
}

.input-group-text {
  border: none;
}

.name-box {
  width: 100%;
}

.check-tag-box {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.tag-box {
  width: 54px;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-left: 0 !important;
}

.cancel {
  cursor: pointer;
}

.cancel:hover {
  cursor: pointer;
}

.cancel p {
  color: #7397FF;
}

.cancel p:hover {
  color: #4479db;
  cursor: pointer;
}

input.disabled {
  color: #bac1da;
}

// responsive

@media (max-width: 768px) {

  .form-row.sub {
    margin-top: 12px;
    margin-bottom: -15px;
    margin-right: 0px !important;
    max-height: 90px;
  }
}

@media (max-width: 576px) {

  .check-tag-box {
    margin-right: 0px !important;
    border-bottom-right-radius: 0.2rem !important;
    border-top-right-radius: 0.2rem !important;
  }
}
