<div id="sm">
  <div id="pro">
    <div class="modal-header shadow-topbar">
      <h5 class="modal-title">Edit track</h5>
    </div>
    <div class="modal-body">
      <form id="EditTrackForm" #myForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-row mb-10p">
          <div class="form-group col-sm-9">
            <input class="sub-form"
                   placeholder="Track title"
                   name="tracktitle"
                   [(ngModel)]="title">
          </div>

        <div class="col">
          <label class="custom noselect downloadable btn btn-sm btn-outline-form btn-settings"
                 popoverClass="popover-class"
                 ngbPopover="Recepient can see this track"
                 [openDelay]="300"
                 [autoClose]="false"
                 triggers="mouseenter:mouseleave">
            <div class="switch">
              <input type="checkbox"
                     name = "visible"
                     [(ngModel)]="visible">
              <span class="slider round"></span>
            </div>
            <div [ngClass]="{'checked': visible}"
                 class="slider-text">Visible
            </div>
          </label>
        </div>
        </div>

        <div class="edit-track-version" *ngFor="let version of track?.versions.slice().reverse()  ; let i =  index; trackBy: trackByFn">
            <div class="form-row mb-10p">
              <div class="col-sm-2">
                <div class="btn-sm btn-outline-form static">V{{version.version_number}}
                </div>
              </div>

              <div class="col">
                <div class="btn-sm btn-outline-form static"> {{version.files[0] ? version.files[0].extension.toUpperCase() : ''}} ·{{getFileSize(version.files[0])}}
                </div>
              </div>
                <div class="col">
                <label class="custom noselect downloadable btn btn-sm btn-outline-form btn-settings"
                       popoverClass="popover-class"
                       ngbPopover="Recepient can download the original file"
                       [openDelay]="300"
                       [autoClose]="false"
                       triggers="mouseenter:mouseleave">
                  <div class="switch">
                    <input type="checkbox"
                           [checked]="version.downloadable == true"
                           (click)="toggleDownloadable(i)">
                    <span class="slider round"></span>
                  </div>
                  <div [ngClass]="{'checked': version.downloadable == true}"
                       class="slider-text">Download
                  </div>
                </label>
                </div>
                <div class="col">
                  <label class="custom noselect downloadable btn btn-sm btn-outline-form btn-settings"
                         popoverClass="popover-class"
                         ngbPopover="Recepient can see this version"
                         [openDelay]="300"
                         [autoClose]="false"
                         triggers="mouseenter:mouseleave">
                    <div class="switch">
                      <input type="checkbox"
                             [checked]="version.visibility==1"
                             (click)="toggleVisibility(i)">
                      <span class="slider round"></span>
                    </div>
                    <div [ngClass]="{'checked': version.visibility == 1}"
                         class="slider-text">Visible
                    </div>
                  </label>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
          <textarea id = "'notes' + i"
                    type="text"
                    placeholder="Version notes"
                    name="notes"
                    class="sub-form"
                    rows="2"
                    (change)="editedVersion(i, $event.target.value)">{{version.notes}}</textarea>
              </div>
            </div>
          </div>

        <div class="form-row mb-5p d-flex justify-content-end">
          <div class="col col-sm-2">
            <button type="button"
                    class="btn btn-sm btn-outline-form free-upload"
                    (click)="close.emit()">
              Cancel
            </button>
          </div>
          <div class="col col-sm-3">
            <button type="submit"
                    [disabled]="!myForm.valid"
                    class="btn btn-sm btn-primary free-upload">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
