<div id="sm">
  <div id="pro">

    <div class="modal-header shadow-topbar">
        <h5 class="modal-title">Edit track</h5>

      </div>
      <div class="modal-body">

    <form #myForm="ngForm"
          (ngSubmit)="onSubmit()">


        <div class="form-row mb-10p">
          <div class="form-group col">
            <input class="form-control form-control-sm"
                   placeholder="Track title"
                   name="tracktitle"
                   [(ngModel)]="title">
          </div>
        </div>

        <div class="edit-track-version">

        <div class="form-row mb-10p">

          <div class="col">
            <div class="btn-sm btn-outline-form static">Version 1

            </div>
          </div>

          <div class="col">
            <div class="btn-sm btn-outline-form static">MPEG · 355KB

            </div>
          </div>

          <div class="col">
            <label class="custom noselect downloadable btn btn-sm btn-outline-form btn-settings"
                   popoverClass="popover-class"
                   ngbPopover="Make this track visible"
                   [openDelay]="300"
                   [autoClose]="false"
                   triggers="mouseenter:mouseleave">
              <div class="switch">
                <input type="checkbox"
                       name="losless"
                       [(ngModel)]="visible">
                <span class="slider round"></span>
              </div>
              <div [ngClass]="{'unchecked': !visible}"
                   class="slider-text">Visible
              </div>
            </label>
          </div>
        </div>
        <div class="form-row">
        <div class="form-group col">
          <textarea [id]="'notes-' + i"
              type="text"
              placeholder="Version notes"
              name="notes"
              class="sub-form"
              rows="2"></textarea>
        </div>
        </div>
        </div>

        <div class="form-row mb-5p d-flex justify-content-end">
          <div class="col col-sm-2">
            <button type="button"
                    class="btn btn-sm btn-outline-form free-upload"
                    (click)="close.emit()">
              Cancel
            </button>
          </div>
          <div class="col col-sm-3">
            <button type="submit"
                    [disabled]="!myForm.valid"
                    class="btn btn-sm btn-primary free-upload">
              Save
            </button>
          </div>
        </div>


    </form>

    </div>

  </div>
</div>
