<div class="shadow public-bottom-container card rounded-lg position-static shadow">
	
		<span class="close-modal" data-dismiss="modal" aria-label="Close">
		<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
		        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-404.000000, -229.000000)" fill-rule="nonzero" stroke="#7397FF" stroke-width="1.95">
		            <g id="Group-26" transform="translate(410.000000, 235.000000) rotate(45.000000) translate(-410.000000, -235.000000) translate(403.000000, 228.000000)">
		                <path d="M0.636363636,7 L13.3636364,7" id="Line-10"></path>
		                <path d="M0.636363636,7 L13.3636364,7" id="Line-10" transform="translate(7.000000, 7.000000) rotate(90.000000) translate(-7.000000, -7.000000) "></path>
		            </g>
		        </g>
		    </g>
		</svg>
	</span>

  <div class="container-fluid">
    <div class="col-sm-12">
  

      <div class="info-heading">
        <h2>{{message?.title}}</h2>
        <p>{{ expired == false ? 'Expires in ' + getDaysToExpired() + ' days (' +  getDateHumanized() + ')' : 'Expired on ' + getDateHumanized()}}</p>
      </div>

	  <div class="spacing-lg"></div>

      <div class="message-content">
	      <div class="container-fluid">
	      <div class="row">
	    <h5 >Notes {{this.sender}}</h5><!--<p class="ml-auto">datum</p>-->
	      </div>
	      <div class="row">
        <p>{{message?.text}}</p>
	      </div>
	      </div>
      </div>

      <div class="container spacing-lg"></div>


    </div>
  </div>


  <div class="spacing"></div>


  <app-info-footer></app-info-footer>

</div>
