

.btn.btn-link {
	 font-size: 10pt;
  color: #7397FF !important;
  background-color: transparent !important;
}

.mb-0 .btn.btn-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:visited {
	color: #4479db !important;
	text-decoration: none !important;
	background-color: transparent !important;
}

.btn.btn-link:active, .btn.btn-link:focus .card-header {
	background-color: #eef1ff !important;
}

.card-header {
	background-color: #ffffff !important;
	border: none !important;
	cursor: pointer;
}

.card-header:hover {
	background-color: #eef1ff !important;
	transition: 0.3s;
}

.card-header:hover .btn.btn-link {
	color: #4479db !important;
	text-decoration: none !important;
}

.card-body {
	border-bottom: none !important;
	border-top: 1px solid #eef1ff !important; 
}

.card-body p {
	color: #717db0;
}

.help-footer .container p a {
	color: #717db0 !important;
	text-decoration: underline !important;
}

.card {
	border-left: 1px solid #eef1ff !important;
	border-right: 1px solid #eef1ff !important;
	border-bottom: none !important;
	border-top: 1px solid #eef1ff !important;
}

#last-card {
border-bottom: 1px solid #eef1ff !important;
}

.help-footer {
	background-color: #f9f9ff;
	width: 100%;
	margin-top: 30px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.help-footer .container p {
	text-align: center;
	color: #717db0;
}

.ticket-card {
	padding: 25px;
	margin-top: 20px;
}

.ticket-card h2 {
	margin-bottom: 25px !important;
	color: #7397ff;
}

.btn-link {
	margin-left: -10px !important;
	  
}

button.btn-more.collapsed:after
{
    content:' more' ;
   
}
button.btn-more:after
{
    content:' less' ;
   
}



@media (max-width: 576px) { 
	
	.btn.btn-link {
  font-size: 8pt;
  }

.card-body p {
	font-size: 8pt;
}

}