<app-pro-board-card>

  <ng-container class="title">{{project?.title}} · {{project?.tracks?.length}} tracks</ng-container>

  <ng-container class="menu">
    <a class="dropdown-item"
       (click)="openModal(editProjectModal);">Edit project</a>
    <!--<a class="dropdown-item"
       href="#">Show statistics</a>-->
    <!--<a class="dropdown-item"
       href="#">Check loudness</a>-->
    <!--<a class="dropdown-item"
       href="#">Track settings</a>-->
    <a class="dropdown-item"
       (click)="openModal(removeProjectModal);">Delete project</a>
  </ng-container>

  <ng-template #editProjectModal
               let-modal>
    <div class="modal-content shadow-pro-box">
      <app-edit-project-form [project]="project"
                             (close)="modal.close();"
                             (save)="modal.close();"></app-edit-project-form>
    </div>
  </ng-template>

  <ng-template #removeProjectModal
               let-modal>
               <div id="sm">
                 <div id="pro">
                   <div class="modal-header shadow-topbar">
                       <h5 class="modal-title">Delete project</h5>

                     </div>
    <div class="modal-body">
      <p>Are you sure you want to delete all content related with this project?<br>
      This operation can not be undone.</p>
      <div class="d-flex justify-content-end">
      <button type="button"
              class="btn btn-sm btn-outline-form btn no"
              (click)="modal.dismiss('cancel click')">Cancel
      </button>
      <button type="button"
              class="btn btn-sm btn-primary btn-yes"
              (click)="modal.close('Ok click'); removeProject()">Ok
      </button>
    </div>
    </div>
    </div>
    </div>
  </ng-template>

  <ng-container class="body">
    <div class="list">
      <div *ngFor="let track of project?.tracks; index as index"
           class="track-bar"
           routerLink="track/{{track.track_id}}">
        <div class="list-header row">
          <div class="title">
            <h3>{{track.title}}</h3>
            <p>{{track.versions?.length}} versions · {{track.new_comments}} new comments</p>
          </div>

            <div class="ml-auto">
              <a (click)="$event.stopPropagation(); myDrop.open();"
                 class="menu more-icon">
                <ng-container *ngTemplateOutlet="icon_more_dots"></ng-container>
              </a>
              <div ngbDropdown
                   placement="bottom-right"
                   #myDrop="ngbDropdown">
                <div class="dropdown-menu pro-dropdown dropdown-menu-right shadow-pro-box board-box-dropdown"
                     aria-labelledby="dropdownMenuLink"
                     ngbDropdownMenu>
                  <a ngbDropdownAnchor
                     class="dropdown-item"
                     (click)="$event.stopPropagation(); openModal(editTrackModal);"> Edit Track</a>
                  <a ngbDropdownAnchor
                     class="dropdown-item"
                     (click)="$event.stopPropagation(); openModal(deleteTrackModal);"> Delete Track</a>
                </div>
              </div>
              <div *ngIf="track.new_comments > 0" class="board-item-notification"></div>
            </div>

          <ng-template #editTrackModal
                       let-modal>
            <div class="modal-content shadow-pro-box">
              <app-edit-track-form [track]="track"
                                     (close)="modal.close()"
                                     (save)="modal.close(); reloadProject()"></app-edit-track-form>
            </div>
          </ng-template>

          <ng-template #deleteTrackModal
                       let-modal>
                       <div id="sm">
                         <div id="pro">
                           <div class="modal-header shadow-topbar">
                               <h5 class="modal-title">Delete track</h5>

                             </div>
            <div class="modal-body">
              <p>Are you sure you want to delete all content related with this track?<br>
              This operation cannot be undone.</p>
              <div class="d-flex justify-content-end">
              <button type="button"
                      class="btn btn-sm btn-outline-form btn-no"
                      (click)="modal.dismiss()">Cancel
              </button>
              <button type="button"
                      class="btn btn-sm btn-primary btn-yes"
                      (click)="modal.close(); deleteTrack(track)">Ok
              </button>
            </div>
            </div>
            </div>
            </div>
          </ng-template>

        </div>
        <hr *ngIf="!last"
            class="preview-hr">
      </div>
    </div>
  </ng-container>

</app-pro-board-card>

<ng-template #icon_more_dots>
  <svg width="17px"
       height="5px"
       viewBox="0 0 24 8"
       version="1.1"
       xmlns="http://www.w3.org/2000/svg">
    <g id="Page-1"
       stroke="none"
       stroke-width="1"
       fill="#bac1da"
       class="comment-options-fill"
       fill-rule="evenodd"
       stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Interface-Essential-/-Menu-/-navigation-menu-horizontal"
         transform="translate(0.000000, -9.000000)"
         class="menu-icon"
         stroke="#bac1da"
         stroke-width="1.5">
        <g id="Group"
           transform="translate(0.000000, 9.000000)">
          <g id="navigation-menu-horizontal">
            <circle id="Oval"
                    cx="4"
                    cy="4"
                    r="2.5"></circle>
            <circle id="Oval"
                    cx="13"
                    cy="4"
                    r="2.5"></circle>
            <circle id="Oval"
                    cx="22"
                    cy="4"
                    r="2.5"></circle>
          </g>
        </g>
      </g>
    </g>
  </svg>
</ng-template>
