<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-md-8">
      <div class="form-row">
          <input placeholder="Project title" name="projecttitle" [(ngModel)]="project_title" required>
      </div>
      <div class="form-row">
        <div class="col-sm-12">
          <tag-input [(ngModel)]='email_to'
                     [trimTags]="true"
                     [separatorKeyCodes]="[13, 188, 186]"
                     [addOnBlur]="true"
                     [maxItems]="5"
                     [ripple]="false"
                     [animationDuration]="{enter: '0ms', leave: '0ms'}"
                     [modelAsStrings]="true"
                     [validators]="validators"
                     placeholder="Email to"
                     secondaryPlaceholder="Email to"
                     name="email_to"
                     class="form-control form-control-sm"
                     id="tag-input-email"
                     ngbTooltip="Invalid email address" triggers="manual" #t="ngbTooltip">
          </tag-input>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col hide-phone">
                <textarea #notes_element
                          [(ngModel)]="notes"
                          type="text"
                          placeholder="Notes"
                          name="notes"
                          class="form-control
                          form-control-sm"
                          rows="2">
                </textarea>
        </div>

        <div class="form-group col show-phone">
                <textarea #notes_element
                          [(ngModel)]="notes"
                          type="text"
                          placeholder="Notes"
                          name="notes"
                          class="form-control
                          form-control-sm"
                          rows="5">
                </textarea>
        </div>
      </div>

      <div class="form-row radios">
        <div class="col">
          <ng-select
            class="custom noselect expiration"
            bindValue="id"
            groupBy="heading"
            [items]="expirations"
            [searchable]="false"
            [clearable]="false"
            [(ngModel)]="expiration"
            placeholder="Expire*"
            name="expirations"
            dropdownPosition="top"
            required>
          </ng-select>
        </div>

        <div class="col">
          <ng-select
            class="custom noselect downloadable"
            bindValue="id"
            groupBy="heading"
            [items]="availabilities"
            [searchable]="false"
            [clearable]="false"
            [(ngModel)]="availability"
            placeholder="Download*"
            name="downloads"
            dropdownPosition="top"
            required>
          </ng-select>
        </div>

        <div class="col">
          <ng-select
            class="custom noselect downloadable"
            bindValue="id"
            groupBy="heading"
            [items]="stream_types"
            [searchable]="false"
            [clearable]="false"
            [(ngModel)]="stream_type"
            placeholder="Stream*"
            name="stream_type"
            dropdownPosition="top"
            required>
          </ng-select>
        </div>

        <div class="col">
          <ng-select
            class="custom noselect downloadable"
            bindValue="id"
            groupBy="heading"
            [items]="smppw_enable"
            [searchable]="false"
            [clearable]="false"
            [(ngModel)]="smppw_bool"
            placeholder="Password*"
            name="smppw"
            dropdownPosition="top"
            required>
          </ng-select>
        </div>
        <div class="col">
          <input [disabled]="!smppw_bool" name="smppwv" [(ngModel)]="smppw" required>
         </div>
      </div>
    </div>
  </div>

  <div class="form-field col-md-4 bottom-tooltip" placement="bottom" [ngbTooltip]="" #ft='ngbTooltip'
       triggers="manual" (click)="ft.close()">
    <div class="card   rounded border-0">
      <!--<div class="upload-songs-text">-->
        <a>
          <!--<div class="addmoresongs">-->
            <h5>Add more tracks</h5>
          <!--</div>-->
        </a>
      <input class="upload-songs-input"
             id="pro-uploader"
             type="file"
             title=""
             ng2FileSelect
             [uploader]="uploader.fileUploader"
             multiple
             name="files"
             accept="{{uploader.getAcceptedFileTypes().join(',')}}"/>
      <!--</div>-->

      <div class="tabletainer">
        <table class="table noselect" >
          <tbody>
          <tr *ngFor="let item of uploader.fileUploader.queue; index as i">
            <!--<td><p>{{ item?.file?.name }}</p></td>-->
            <td><input [(ngModel)]="uploader.titles[i]" name="title-{{i}}"></td>
              <span (click)="uploader.removeFromQueue(item)" class="delete cross" aria-hidden="true">
                  <svg width="9px" height="9px" viewBox="0 0 9 9" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                  <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
                     transform="translate(-344.000000, -234.000000)" fill-rule="nonzero" stroke="#7397FF" stroke-width="1.5">
                  <path d="M345.5,235.5 L351.488196,241.488196" id="Line-8"></path>
                  <path d="M345.5,235.5 L351.488196,241.488196" id="Line-8"
                        transform="translate(348.500000, 238.500000) scale(-1, 1) translate(-348.500000, -238.500000) "></path>
                  </g>
                  </g>
                  </svg>
              </span>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="sep-line show-medium"></div>
  </div>
  <div class="col">
    <button style="width:40%" type="button" class="btn btn-sm btn-primary free-upload" placement="bottom" (click)="cancelUpload(myForm.dirty, uploader.fileUploader.getNotUploadedItems().length )">Cancel</button>

    <button  style="width:40%" type="submit" [disabled]="!uploader.fileUploader.getNotUploadedItems().length || !myForm.valid"
             class="btn btn-sm btn-primary free-upload" placement="bottom">

      <div class="show-medium">Share tracks</div>

      <svg width="30px" height="30px" viewBox="0 0 38 38" class="plane-icon hide-medium" version="1.1"
           xmlns="http://www.w3.org/2000/svg">
        <desc></desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
             transform="translate(-30.000000, -209.000000)">
            <g id="send-email-2" transform="translate(30.000000, 209.000000)">
              <path
                d="M10.4,10.743 C10.0795417,10.1695961 10.1694462,9.45439019 10.6218509,8.97813854 C11.0742555,8.50188689 11.7839045,8.37539349 12.373,8.666 L31.387,18.325 C31.6385553,18.4529457 31.7969886,18.7112764 31.7969886,18.9935 C31.7969886,19.2757236 31.6385553,19.5340543 31.387,19.662 L12.373,29.334 C11.7839045,29.6246065 11.0742555,29.4981131 10.6218509,29.0218615 C10.1694462,28.5456098 10.0795417,27.8304039 10.4,27.257 L15.458,18.993 L10.4,10.743 Z"
                id="Shape" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path d="M31.797,18.993 L15.453,18.993" id="Shape" stroke="#FFFFFF" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </div>


</form>


<div ng2FileDrop
     [uploader]="uploader.fileUploader"
     class="well my-drop-zone">
</div>

<app-confirm-dialog></app-confirm-dialog>
