.info-heading h2 {
	color: #7397ff;
	margin-top: 5px;
}

#copy-link {
	border-bottom-left-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-right: none !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.copy-link-btn {
		border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	margin-right: 10px;
}

.form-group {
	margin-right: 10px;
}

// responsive

@media (max-width: 576px) {
	
	.copy-link-btn {
	margin-bottom: 0px !important;
	max-width: 76px;
	margin-right: 0px;
	
}

.form-group {
	margin-right: 0px;
}

.sub-form {
	width: calc(100% - 76px);
}

.btn-primary {
	margin-top: 10px;
	width: 100%;
}
	
}