.subscribe-message {
	text-align: center;
	color: #7397ff;
}

.subscribe-form {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.toggle-buttons {
	margin-left: auto;
	margin-right: auto;
	width: 117.5px;
}


input[type='text'], input[type='email'], input[type='url'], input[type='password'], input[type='search'], input[type='number'], input[type='tel'], input[type='range'], input[type='date'], input[type='month'], input[type='week'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='file'], input[type='color'], textarea {
	background: #ffffff !important;
	border: 1px solid #ffffff !important;
	border-radius: 0.3rem !important;
	font-family: 'sofia-regular' !important;
	width: 100%;
	padding: 8px;
	padding-left: 12px;
	color: #717db0;
	-webkit-box-shadow: 0 0.07rem 0.3rem 0.01rem rgba(115, 150, 255,.25) !important;
	 -moz-box-shadow:  0 0.07rem 0.3rem 0.01rem rgba(115, 150, 255,.25) !important;
        box-shadow: 0 0.07rem 0.3rem 0.01rem rgba(115, 150, 255,.25) !important;
        -webkit-appearance: none;
	-moz-appearance: none;
}

input[type='text']:focus, input[type='email']:focus, input[type='url']:focus, input[type='password']:focus, input[type='search']:focus, input[type='number']:focus, input[type='tel']:focus, input[type='range']:focus, input[type='date']:focus, input[type='month']:focus, input[type='week']:focus, input[type='time']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='file']:focus, input[type='color']:focus, textarea:focus, button:focus, input[type='button']:focus, input[type='reset']:focus, input[type='submit']:focus {
	border-color: #7397ff !important;
	outline: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	
}

button[type='submit'] {
	width: 100%;
	background-color: #7397ff !important;
	border-radius: 0.3rem !important;
	box-shadow: 0 11px 30px rgba(115, 150, 255,.25) !important;
	-webkit-box-shadow: 0 11px 30px rgba(115, 150, 255,.25) !important;
	-moz-box-shadow: 0 11px 30px rgba(115, 150, 255,.25) !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	padding: 8px;
	color: #ffffff;
	font-family: 'sofia-bold' !important;
	font-size: 18px !important;
	margin-top: 10px;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:hover, button:active, button:focus input[type='button']:hover, input[type="button"]:active, input[type="button"]:focus, input[type='reset']:hover, input[type='submit']:hover, input[type='submit']:active, input[type='submit']:focus {
	background-color: #5a80f3 !important;
	
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #bac1da;
  opacity: 1;
}

input:-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #bac1da;
  opacity: 1;
}