<app-pro-board-card>
  <ng-container class="title">Projects</ng-container>
  <ng-container class="body" id="sm">
    <div class="list">
      <div *ngFor="let project of user_project_list; index as index">
        <div routerLink="project/{{project?.hash}}" class="track-bar">
          <div class="list-header row">

            <div class="title">
              <h3>{{project?.title}}</h3>
              <p>{{project?.tracks?.length}} tracks · 12 new comments</p>
          </div>

            <div class="ml-auto">
        <a (click)="$event.stopPropagation(); myDrop.open();"
                   class="menu more-icon">
                <ng-container *ngTemplateOutlet="icon_more_dots"></ng-container>
              </a>
              <div ngbDropdown #myDrop="ngbDropdown">
                  <div class="dropdown-menu dropdown-menu-right object-shadow board-box-dropdown"
                       aria-labelledby="dropdownMenuLink" ngbDropdownMenu>
                  <a ngbDropdownAnchor class="dropdown-item" (click)="$event.stopPropagation(); openModal(editProjectModal);"> Edit Project</a>
                  <a ngbDropdownAnchor class="dropdown-item" (click)="$event.stopPropagation(); openModal(removeProjectModal);"> Delete Project</a>
                </div>
              </div>
              <div class="board-item-notification"></div>
            </div>
          </div>

          <ng-template #editProjectModal let-modal>
            <div class="modal-content">
              <app-edit-project-form
                [project]="project"
                (close)="modal.close()"
                (save)="modal.close(); reloadProject(index)"
              ></app-edit-project-form>
            </div>
          </ng-template>
          <ng-template #removeProjectModal let-modal>
              <div class="modal-body">
                Are you sure to remove all content related with this project?
                 This operation can not be undone.
                <button type="button" class="btn btn-sm btn-outline-form free-upload" (click)="modal.dismiss('cancel click')">Cancel</button>
                <button type="button" class="btn btn-sm btn-primary free-upload" (click)="modal.close('Ok click'); removeProject(project, index)">Ok</button>
              </div>
          </ng-template>

        </div>
        <hr *ngIf="!last" class="preview-hr">
      </div>
    </div>
  </ng-container>
</app-pro-board-card>

<ng-template #icon_more_dots>
  <svg width="17px" height="5px" viewBox="0 0 24 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g id="Page-1" stroke="none" stroke-width="1" fill="#bac1da" class="comment-options-fill" fill-rule="evenodd"
       stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Interface-Essential-/-Menu-/-navigation-menu-horizontal"
         transform="translate(0.000000, -9.000000)"
         class="menu-icon" stroke="#bac1da" stroke-width="1.5">
        <g id="Group" transform="translate(0.000000, 9.000000)">
          <g id="navigation-menu-horizontal">
            <circle id="Oval" cx="4" cy="4" r="2.5"></circle>
            <circle id="Oval" cx="13" cy="4" r="2.5"></circle>
            <circle id="Oval" cx="22" cy="4" r="2.5"></circle>
          </g>
        </g>
      </g>
    </g>
  </svg>
</ng-template>
