.navbar {
  padding: 0.1rem 0.6rem;
}

.soundmarker-logo {
  background: url(../../public-info/header/sm-logo-topbar.svg);
  width: 140px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
}

.shadow-lg {
  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.25) !important;
}
