// Navbar

.wide-nav {
	min-width: 320px !important;
}

.navbar {
	height: 48px;
  padding: 0rem 0.6rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
 border-bottom: 1px solid #eef1ff;

}

// Logo

// Icons



// Dropdowns

.navbar .main-menu-icon, .navbar .messages-icon {
	border-bottom: none;
	cursor: pointer;
}

.main-menu-icon {
	width: 43px;
	
}

.messages-icon {
	margin-right: -22px;
	width: 52px;
}

.message-dropdown p {
	color: #717db0;
	line-height: normal;
	margin-bottom: 0px;
	  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notifications {
	background: pink;
	border-radius: 50%;
	color: white;
	padding: 0px;
	height: 6px;
	width: 6px;
	position: absolute;
	margin-left: 16px;
	margin-top: -32px;
	overflow: hidden;
}

.notifications p {
	font-size: 8pt;
	color: white;
	text-align: center;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  float: right;
  margin-top: -6px;
  
}

.more-info .arrow-up {
	 margin-right: 36px;
}

.messages .arrow-up {
	margin-right: 53px;
}

.btn-note {
	margin-right: -5px;
}

.badge {
	height: 12px;
	width: 12px;
	border-radius: 0.8rem;
	color: #717db0;
}

.nav-item {
	margin-right: -10px; 
	height: 29px;
	
	border-radius: 0.2rem;
	padding-right: 6px;
	margin-left: 4px;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.messages-icon .nav .nav-item {
	width: 30px;
	padding-left: 2px;
	margin-right: 0px;
	padding-right: 10px;
	margin-left: -10px;
}

.main-menu-icon .nav .nav-item {
	width: 43px;
	margin-left: -10px;
}

.nav-item:hover {
	background-color: #eef1ff;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}


.soundmarker-logo {
  background: url(../../public-info/header/sm-logo-topbar-beta.svg);
  width: 154px;
  height: 46px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.nav-link, .dropdown-item {
	font-family: 'sofia-regular';
	font-size: 10pt;
}

.nav-link {
   color: #5673AB ;
   padding: .40rem .42rem !important;
   background: none !important;
}



 .nav-link.pro.active {
	color: #fff !important;
	font-family: 'sofia-regular';
}



.nav-link:hover, .nav-link:active, .nav-link:focus, nav-link:visited, nav-link:link {
	color: #5673AB !important;
	background: none !important;
}

.nav-item .pro {
	background: #5673AB !important;
}


/*
.nav-item:hover .dropdown-menu {
	visibility: visible;
	opacity: 1;
	transition-delay:0.2s;
	transition-duration: 0.1s;
}
*/





.dropdown-menu {
	padding-top: 18px;
	
	
	
	border: none;
	background: transparent;
	transition:visibility 0s linear 0.05s,opacity 0.05s linear;
}

.more-info.dropdown-menu {
	width: 140px;
	left: -96px;
}

.messages.dropdown-menu {
	width: 220px;
	left: -146px;
}

.dropdown-container {
	border-radius: 0.3rem;
	border: none;
	// background: #7397FF;
	background: #ffffff;
	padding-top: 12px;
	padding-bottom: 12px;
}

.more-info.dropdown-menu .dropdown-container {
	width: 140px;
	
}





.dropdown-item {
	color: #7397FF !important;
	font-family: 'sofia-regular';
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 0.3rem;
	width: calc(100% - 20px);
	padding-left: 10px;
}

.dropdown-divider {
	border-color: #eef1ff !important;
	background-color: #eef1ff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dropdown-menu-right {
	margin-top: 0px;
  right: -1px !important; //-61
  left: auto;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
	background: #eef1ff;
		transition: 0.1s;
	-webkit-transition: 0.1s;
	
}

.dropdown-icons {
	stroke: #fff;
	stroke-width: 1.5;
}

.item-icon {
	    margin-right: 5px;
    /* height: 50px; */
    width: 20px !important;
    float: left;
    margin-top: 2px;
	
}

.item-icon.help {
	padding-left: 3px
}

#menu {
	margin-top: 0px;
}




// responsive

@media (max-width: 768px) {
	
	 .nav-link.pro.active {
		 display: none;
	 }
	 
	 .pro-dropdown {
	display: block;
}
	
	
	}



