<nav class="wide-nav navbar navbar-expand-sm navbar-light bg-white shadow">
  <a class="navbar-brand" href="#">
    <div class="soundmarker-logo"></div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <div class="navbar-nav">
      <button class="btn nav-item">
        <a class="nav-link">
          <app-info-link (onInfoSelected)="infoWasSelected(help)" [info]='help.apply(help)'></app-info-link>
        </a>
      </button>
      <button class="btn nav-item">
        <a class="nav-link">
          <app-info-link (onInfoSelected)="infoWasSelected(aboutUs)" [info]='aboutUs.apply(aboutUs)'></app-info-link>
        </a>
      </button>
      <button class="btn btn-secondary btn-sm">
        <app-info-link (onInfoSelected)="infoWasSelected(pro)" [info]="pro.apply(pro)"></app-info-link>
      </button>
    </div>
  </div>
</nav>
