<div class="shadow public-bottom-container card rounded-lg position-static shadow">

		<span class="close-modal" data-dismiss="modal" aria-label="Close">
		<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
		        <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-404.000000, -229.000000)" fill-rule="nonzero" stroke="#7397FF" stroke-width="1.95">
		            <g id="Group-26" transform="translate(410.000000, 235.000000) rotate(45.000000) translate(-410.000000, -235.000000) translate(403.000000, 228.000000)">
		                <path d="M0.636363636,7 L13.3636364,7" id="Line-10"></path>
		                <path d="M0.636363636,7 L13.3636364,7" id="Line-10" transform="translate(7.000000, 7.000000) rotate(90.000000) translate(-7.000000, -7.000000) "></path>
		            </g>
		        </g>
		    </g>
		</svg>
	</span>

  <div class="container-fluid">
    <div class="col-sm-12">


      <div class="info-heading">
        <h2>Get notified</h2>
        <p>Get status updates via email to<br>see new comments and replies</p>
      </div>

      <div class="message-content">

        <div class="subscribe-form" *ngIf="status == 'pending'">
          <form #subscribeForm="ngForm" (ngSubmit)="subscribe()" >
            <div class="form-row">
              <input type="email" [(ngModel)]="email" placeholder="Email address" name="email"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  ngbPopover="Invalid email address" triggers="manual" emailValidationPopover required>

              <button type="submit" [disabled]="!subscribeForm.valid" class="notify-submit">Submit</button>

            </div>
          </form>
        </div>

        <div *ngIf="status == 'greatsuccess'">
          <h2 class="subscribe-message">Success! You'll be notified</h2>
        </div>

        <div *ngIf="status == 'error'">
         <h2 class="subscribe-message">Oops.. Something went wrong</h2>
        </div>

      </div>

      <div class="container spacing-lg"></div>


    </div>
  </div>


  <div class="spacing"></div>


  <app-info-footer></app-info-footer>

</div>
