<div class="phone-topbar show-phone ">
  <app-public-info-header
    [message]="message"
    (openIntroduction)="openIntroduction()">
  </app-public-info-header>
</div>

<div  class="container rounded phone-scroll">
  <div>
    <loadable-component [componentId]="SMA_COMPONENT_ID" [loadComponent]="smaComponent">
        <app-sma (scroll)="contentScroll($event)"></app-sma>
    </loadable-component>
  </div>

  <div class="public-page card shadow-lg rounded-lg border-0">
    <div class="hide-phone" #header>
      <app-public-info-header [message]="message" ></app-public-info-header>
    </div>

    <div class="upload-container comments-scrolltainer card-body bg-light rounded-lg" #content>
      <ng-content *ngIf="!error"></ng-content>
      <app-error *ngIf="error" (reset)="reset()"></app-error>
    </div>
  </div>
</div>

<div class="modal fade info-modal-faq" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-help-info></app-help-info>
    </div>
  </div>
</div>

<div class="modal fade info-modal-aboutus " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-about-us-info></app-about-us-info>
    </div>
  </div>
</div>

<div class="modal fade info-modal-pro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-pro-info></app-pro-info>
    </div>
  </div>
</div>

<div class="modal fade info-modal-player-introduction" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-player-introduction [message]="message" [expiry_date]="expiry_date" [expired]="expired" [sender]="sender"></app-player-introduction>
    </div>
  </div>
</div>

<div class="modal fade info-modal-player-subscribe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-subscribe [project_id]="project_id"></app-subscribe>
    </div>
  </div>
</div>

<div id="openModal" data-backdrop="static" data-keyboard="false"
     class="modal modal-intro fade info-modal-public-introduction" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-lg-intro">
    <div class="modal-content modal-content-intro">
      <app-public-introduction></app-public-introduction>
    </div>
  </div>
</div>






