

.phone-topbar {
	height: 48px;
	width: 100%;
	background-color: #ffffff;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	
}

@keyframes hidden-sma{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes shown-sma{

from{
  opacity: 0;
}
  to{
    opacity: 1;
  }

}

.phone-sma {
	height: 160px;
	
	max-width: calc(100% - 20px);
	min-width: calc(100% - 20px);
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	background: #2a2a2a;
	position: absolute;
	left: 0px;
	margin-top: 58px;
	  -webkit-box-shadow: 0 0rem 0.3rem 0.01rem rgba(115, 150, 255, 0.55) !important;
	 -moz-box-shadow:  0 0rem 0.3rem 0.01rem rgba(115, 150, 255, 0.55) !important;
        box-shadow: 0 0rem 0.3rem 0.01rem rgba(115, 150, 255, 0.55) !important;
        overflow: hidden;
}

.public-page {
  top: 60px;
  margin-bottom: 60px;
  width: 640px;
  left: 60px;
  min-height: 233px;
  max-height: calc(100% - 120px);
  position: fixed;
  z-index: 100;
}

.bg-light {
 background-color: #fff !important;
}

.upload-container {
  min-height: 194px;
  //overflow: auto !important;
  overflow-x: hidden;
  overflow-y: auto;
}




// responsive 

@media (max-width: 1199.98px) {

	
	.public-page {
	margin-top: 240px;
	top: inherit;
	margin-left: auto;
	    margin-right: auto;
	    left: inherit;
	    max-height: calc(100% - 300px);
	}
}

@media (max-width: 767.98px) {
	
	.public-page {
		top: inherit;
		
		min-height: 160px;
		
		width: calc(100% - 120px);
	    left: inherit;
	    right: 60px;
	    max-width: 640px;
	    min-width: 536px;
	   
	    position: fixed;
	    margin-bottom: 60px;
    }
    
}

@media (max-width: 696px) {
	
	.public-page {
		left: inherit;
		right: inherit;
		margin-left: auto;
	    margin-right: auto;
    }
}

@media (max-width: 666px) {
	
	.public-page {
	  top: inherit;
	 
	  
    }
    
}

@media (max-width: 636px) {
	
	.public-page {
	  
	  
    }
    
}

@media (max-width: 606px) {
	
	.public-page {
		
		
   }
   
}



@media (max-width: 575.98px) {

  .public-page {
	margin-top: 228px;
	min-height: 100px;
	max-height: none;
	width: calc(100%);
    left: 0px;
    right: 0px;
    max-width: 556px;
    min-width: 268px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    margin-bottom: 58px !important;
  -webkit-box-shadow: 0 0rem 0.3rem 0.01rem rgba(115, 150, 255, 0.25) !important;
	 -moz-box-shadow:  0 0rem 0.3rem 0.01rem rgba(115, 150, 255, 0.25) !important;
        box-shadow: 0 0rem 0.3rem 0.01rem rgba(115, 150, 255, 0.25) !important;
       
    
  }
  
  .phone-scroll {
	  overflow-y: inherit;
	  height: 100%;
	 padding-left: 10px;
	 padding-right: 10px;
	  
  }
  
  .upload-container {
    min-height: 100px;
    padding: 10px !important;
    overflow: hidden;
  }
  
    .btn-group {
    margin-bottom: 10px;
    width: 100%;
  }

  .btn {
    width: 100% !important;
  }

  .progress {
    width: 96%;
  }

  
  }
  




