<div class="container rounded phone-scroll">

  <div class="public-page card shadow-lg rounded-lg border-0">

    <app-public-info-header [messages]="messages"></app-public-info-header>

    <div class="upload-container comments-scrolltainer card-body bg-light rounded-lg">

      <ng-content></ng-content>

    </div>

  </div>

</div>

<div class="modal fade info-modal-faq" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-help-info></app-help-info>
    </div>
  </div>
</div>

<div class="modal fade info-modal-aboutus " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-about-us-info></app-about-us-info>
    </div>
  </div>
</div>

<div class="modal fade info-modal-pro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-pro-info></app-pro-info>
    </div>
  </div>
</div>

<div class="modal fade info-modal-terms" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-privacy-and-terms></app-privacy-and-terms>
    </div>
  </div>
</div>

<div class="modal fade info-modal-contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <app-contact></app-contact>
    </div>
  </div>
</div>
