// upload fields

.form-field .col-md-4 {
  cursor: pointer;
  pointer-events: auto;
}

.pro-upload-songs-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
  padding: 0;
}

.pro-upload-songs-input.disabled{
  pointer-events: none;
}

.pro-upload-songs-area.disabled{
  opacity: 0.2;
}

.my-drop-zone {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  opacity: 100%;
  background: transparent;
  pointer-events: none !important;
}
