.progress-container h5, .progress-container h6 {
  text-align: center;
  color: #7397ff;
}

.progress {
  height: 6px;
  width: calc(100% + 30px);
  margin-top: 22px;
  background: #eef1ff;
}

.progress-bar {
  background: #7397FF;
}

#processingtracks{

}


.loading-note {
  position: relative;
  width:60px;
  margin-left: calc(50% - 30px);
  margin-top: 26px;
  margin-bottom: 19px;
  z-index: 99;
}

.load {
    position: absolute;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    margin-top: -20px;
    i {
      background: #e7efff;
      position: absolute;
      width: 100px;
      height: 100px;
      opacity: 0;
      border-radius: 100%;
      animation: circle 1.5s linear infinite 0s;
    }
    i:nth-child(2) {
      animation-delay: 0.5s;
    }
    i:nth-child(3) {
      animation-delay: 1s;
    }
}

@keyframes circle {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
