<div class="container progress-container">
  <div>
    <div class="note-image" id="ni3"><svg enable-background="new 0 0 141.7 141.7" viewBox="0 0 141.7 141.7" xmlns="http://www.w3.org/2000/svg"><circle cx="70.9" cy="70.9" fill="#f3f3f3" r="70.9"/><g fill="#ff857d" stroke="#2f2f2f" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"><ellipse cx="83.3" cy="84.2" rx="12.9" ry="13.1"/><path d="m56.1 54.8 40.1-17.1v46.5-61.6l-40.1 17.1v63.2z" stroke-linecap="round"/><ellipse cx="43.2" cy="102.9" rx="12.9" ry="13.1"/></g></svg></div>
    <h5>Uploading...</h5><h6> {{uploader.progress}}% </h6>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
  </div>
</div>
