.progress-container h5, .progress-container h6 {
  text-align: center;
}

.progress {
  height: 4px;
  width: 700px;
  margin-top: 22px;
}

.progress-bar {
  background: #FF857D;
}

#ni3.note-image {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
}
