.reply-form {
	width: 660px;	
	margin-left: 20px;
	margin-top: -10px;
	
}

.free-upload {
	margin-top: 9px;
}

.cancel p {
padding-top: 6px;	

}

.cancel {
	margin-right: 4px;
margin-left: 341px;
}



textarea {
  resize: none;
  padding-left: 0px;
}

.form-control.sub-form {
	border: 1px solid #CDD3D9 !important;
	border-radius: 12px !important;
	margin-left: 0px;
	height: 29px;
}

.form-row.sub {
	margin-top: 12px;
	margin-bottom: -6px;
}

.input-group-text-sm {
	font-size: 10pt !important;
}

.form-row.top {
	margin-left: 5px !important;
}

.form-group.col-md-4 {
	margin-right: 16px;
}

.name-box {
	    border-radius: 3px !important;
   
    
}

#tag-box {
		    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.tag-box {
	margin-left: 0px;
	 }

#select-box {
	margin-left: 115px;
}

.input-group-text.time {
	padding-right: 0.50rem !important;
	padding-left: 0.50rem !important;
}

.col-md-15 {
	width: 86px;
}

.hor-spacer-sm {
	width: 40px !important;
}
