@import "../comment-form/comment-form.component.scss";

.reply-form {
	 padding-top: 0px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 0.6rem;
  margin-top: 10px;
  margin-bottom: 0px;
  border-left: 2px solid #bac1da;
   border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

hr {
	margin-top: -5px;
	margin-bottom: 0px;
	border-top-color: #f0f0f0;
}