/* 
	
COLORS

MAIN BLURPLE	-- #7397ff
LIGHT BlURPLE	-- #eef1ff
"GRAY" BLURPLE	-- #bac1da
"BLACK" BLURPLE	-- #717db0

CONTENTS

- typography
- containers
- sections
- modals
- forms
- buttons
- utilities
- pages						
--- public
------ bottom info
--- pro
	
*/

body {
	// background: #eef1ff !important;
	background-color: #fff;
	height: 100%;
	width: 100%;

}

.main-bg {
	position: fixed;
	display: block;
	background-image: url(gradient-bg.jpg);
	background-size: cover !important;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.ad-img {
	background-image: url(softube-console-1-mk2-next-generation-mixer-6f5.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 80%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;

}

.ad-text {

	background-position: center center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


// typography

@font-face {
    font-family: 'avenirnext-regular';
    src: url(fonts/AvenirNext-Regular.ttf);
}

@font-face {
    font-family: 'avenirnext-bold';
    src: url(fonts/AvenirNext-Bold.ttf);
}

@font-face {
    font-family: 'kollektif-bold';
    src: url(fonts/Kollektif-Bold.ttf);
}

@font-face {
	font-family: 'kollektif';
	src: url(fonts/Kollektif.ttf);
}

@font-face {
    font-family: 'brandon-bold';
    src: url(fonts/Brandon-Text-Bold.otf);
}

@font-face {
	font-family: 'brandon';
	src: url(fonts/Brandon-Text-Regular.otf);
}

@font-face {
	font-family: 'sofia-medium';
	src: url(fonts/sofiapro-medium.otf);
}

@font-face {
	font-family: 'sofia-light';
	src: url(fonts/sofiapro-light.otf);
}

@font-face {
    font-family: 'halant-bold';
    src: url(fonts/Halant-Bold.ttf);
}

::-moz-selection { background: rgba(96, 150, 248, 0.4);  }
::selection { background: rgba(96, 150, 248, 0.4);  }

p {
	font-size: 10pt;
	font-family: 'sofia-light';
	color: #bac1da;
}

a {
	color: #eef1ff !important ;
	
}

a:hover {
	color: #4479db;
}

a:hover, a:active, a:focus, a:visited {
	outline: none !important;
}


.sm-black {
	color: #717db0;
}


#sm h1 {
	font-family: 'sofia-medium';
	font-size: 20pt;
	margin-top: 20px;
	margin-bottom: 20px;
}

#sm h2 {
		font-family: 'sofia-light';
	font-size: 18pt;
	margin-bottom: 4px;
}

#sm h3 {
		font-family: 'sofia-light';
	font-size: 12pt;
	margin-bottom: 4px;
}

#sm h4 {
		font-family: 'sofia-medium';
	font-size: 14pt;
	padding-top: 2px;
}

#sm h5 {
	font-family: 'sofia-medium';
	font-size: 10pt;
	margin-bottom: 4px;
}

#sm h6 {
	font-family: 'sofia-light';
	font-size: 8pt;
}

#sm h7 {
			font-family: 'sofia-light';
	font-size: 14pt;
	margin-bottom: 4px;
}

.info-heading h1 {
	color: #7397FF;
}

@media (max-width: 768px) {
	#sm h1 {

	font-size: 14pt;

}

p {
		font-size: 8pt;
}

#sm h4 {
	font-size: 12pt ;	
}

.hide-phone {
		display: none;
	}

}

// containers 

.container {
  display: flex;
  justify-content: center;
  
}

.spacing-sm {
	height: 10px;
}

.spacing {
	height: 30px;
}

.spacing-lg {
	height: 50px;
}

.public-bottom-container {
	border: 0px;
	}
	
	@media (max-width: 768px) {
	  .col-sm-4 {
   -ms-flex: 0 0 100% !important;
     flex: 0 0 100% !important; 
    max-width: 100% !important; 
  }
}


.comments-scrolltainer {
	overflow-y: scroll;
  overflow-x: hidden;
  
}

/*
.comments-scrolltainer::-webkit-scrollbar {
  width: 6px;

}
*/
.comments-scrolltainer::-webkit-scrollbar-thumb {
  background-color: #bac1da;
  border-radius: 8px;
   margin-right: 2px;
 margin-left: -8px !important;
}

.comments-scrolltainer::-webkit-scrollbar-thumb:hover {
  background-color: #717db0;
  cursor: pointer;
}


	
// sections

.info-footer {
	background: #F3F3F3;
	border-bottom-left-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;

}

.info-footer a  {
	float: left;
	padding: 10px;
	margin-top: 20px;
}

// modals

#sm .modal-lg {
	width: 700px;
	border: none !important;
	z-index: 1050 !important;
	}
	

	
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #717db0 !important;
  z-index: 10 !important;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.7 !important;
}
@media (min-width: 768px) {
  .modal-lg {
    max-width: 700px !important;
    z-index: 1050;
  }
}

@media (max-width: 768px) {
 #sm .modal-lg {
    margin-top: 20px !important;
    width: calc(100% - 40px);
    margin: auto;
    max-width: 700px !important;
  }	
  

  
}

#sm .modal-dialog {
	margin: 60px auto;
}

#sm .modal-content {
	border-radius: 0.6rem !important;
	border: none !important;
	
	
}






// forms

#sm .form-control {
  font-size: 10pt;
  font-family: 'sofia-light';
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid #eef1ff;
  border-radius: 0 !important;
  background: transparent;
  color: #717db0;
 
}

#sm .form-control:hover {
	 border-color: #bac1da;
}

#sm .form-control:focus {
  border-bottom: 1px solid #bac1da;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#sm .btn:focus, #sm .nav-link:focus {
	 -webkit-box-shadow: none;
  box-shadow: none;
}

#sm .form-control::-webkit-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

#sm .form-control::-moz-placeholder {
  color: #bac1da;
  opacity: 1;
}

#sm .form-control:-ms-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

#sm .form-control::-ms-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

#sm .form-control::placeholder {
  color: #bac1da;
  opacity: 1;
}

.sub-form {
		transition: 0.1s;
	-webkit-transition: 0.1s;
	border-color: #eef1ff !important;
	color: #717db0;
	border: 1px solid #bac1da;
	border-radius: 3px;
	font-size: 10pt;
	padding-left: 6px;
	height: 29px;
	font-family: 'sofia-light';
	padding-top: 4px;
}



.sub-form:hover {
	border-color: #bac1da !important;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.sub-form:focus, .sub-form:active {
  border: 1px solid #bac1da !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.sub-form::-webkit-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

.sub-form::-moz-placeholder {
  color: #bac1da;
  opacity: 1;
}

.sub-form:-ms-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

.sub-form::-ms-input-placeholder {
  color: #bac1da;
  opacity: 1;
}

.sub-form::placeholder {
  color: #bac1da;
  opacity: 1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}




// buttons 



button:hover, button:active, button:focus, button:visited {
	outline: none !important;
}

#sm .btn-outline-form {
  color: #7397FF;
  background-color: #fff;
  background-image: none;
  border: 1px solid #7397FF;
  box-shadow: none;
  
}

#sm .btn-outline-form:hover {
  background-color: #e7efff;
  
}



#sm .btn-outline-form.disabled, .btn-outline-form:disabled {
  color: #6c757d;
  background-color: transparent;
}

#sm .btn-outline-form:not(:disabled):not(.disabled):active, #sm .btn-outline-form:not(:disabled):not(.disabled).active,
.show > .btn-outline-form.dropdown-toggle {
  color: #fff;
  background-color: #7397FF;
  border: 1px solid #7397FF;
}



#sm .btn-primary {
  background-color: #7397FF;
  border-color: #7397FF;
}

#sm .btn-primary:hover {
	background-color: #6388f5;
	border-color: #6388f5;
}

#sm .btn-primary.disabled, #sm .btn-primary:disabled {
  background-color: #eef1ff;
  border-color: #eef1ff;
  opacity: 1;
}

#sm .btn-secondary {
color: white;
  background-color: #A7C8FF;
  border-color: #A7C8FF;

}

#sm .btn-group-sm>.btn, #sm .btn-sm {
  font-size: 10pt;
  font-family: 'sofia-light';
   padding-top: 5px;
  padding-bottom: 3px;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: -1px;
}

@media (max-width: 768px) {
	
	.btn-group  {
		width: 100%;
	}
		
 #sm .btn-outline-form {
  width: 100% !important;	
  margin-bottom: 10px;
}



}



// utilities

#sm .shadow, .shadow {
	  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.10) !important;
}

.shadow-topbar {
	-webkit-box-shadow: 0 1rem 3rem -1rem #eef1ff !important;
   -moz-box-shadow:  0 1rem 3rem -1rem #eef1ff !important;
        box-shadow: 0 1rem 3rem -1rem #eef1ff !important;
}


#sm .shadow-lg {

}

#sm .rounded-lg {
  border-radius: 0.6rem;
}

#sm .rounded-sm, .rounded-sm {
  border-radius: 0.3rem !important;
}

#sm .dropdown-toggle::after {
	display: none;
}

// pages

// -- public

// ---- bottom info

.close-info {
	margin-top: 20px;
	margin-right: -5px;
}

.close-info .btn-cross {
	padding: 0px;
	margin: 0px;
	color: #aeaeae;
}

.info-card {
	margin-top: 30px;
}

