.bg-card {
	background-color: #fff;
	border: none !important;
	border-radius: 0.6rem;
}

.card-body {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;

}

.card-body p {
	color: #717db0;
}


.dark-card {
	background-color: #7397ff;
}

.dark-card .card-body h2, .dark-card .card-body p {
	color: #ffffff;
}




.card-title {
	color: #7397FF;
	font-family: 'sofia-medium';
}

.card-text {
	color: #717db0;
}


.info-svg {
	width: 120px;

	margin-bottom: 12px;
	margin-top: 11px;
}

.info-svg.flow {
	margin-bottom: 0px;
	margin-top: -8px;
}

.row {
	padding-left: 15px; padding-right: 15px;
}

@media (max-width: 576px) {

.card-body h5 {
	font-size: 10pt !important;
}

.card-body p {
	font-size: 10pt !important;
}

}
