.bg-card {
	background-color: #fff;
	border: none !important;
	border-radius: 0.6rem;
}

.info-card {
	margin-left: 5px;
	margin-right: 5px;
	
}

.col-sm-4 {
	padding: 0px;
}



.card-title {
	color: #7397FF;
	font-family: 'sofia-medium';
}

.card-text {
	color: #717db0;
}

.info-heading p {
	color: #717db0;
	font-size: 12pt;
}

.info-svg {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	margin-top: 11px;
}

.info-svg.flow {
	margin-bottom: 0px;
	margin-top: -8px;
}

.row {
	padding-left: 15px; padding-right: 15px;
}
