@import "../about-us/about-us-info.component.scss";



.terms-card {
	margin-top: 25px;
	border-radius: 0.6rem;
	background-color: #7397FF;
	border: none;
	padding: 10px;
	padding-bottom: 12px;
	display: block;
	top: 25px;
}

.dropdown-item {
	color: #fff !important;
	font-family: 'brandon';
	font-size: 10pt;
	padding:10px !important;
	border-radius: 0.4rem;
	
}

.active {
	background: #6388f5 !important;
}


.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
	background: #6388f5;
		transition: 0.2s;
	-webkit-transition: 0.2s;
}



.list-icon {
	float: right;
	margin-left: 8px;
	margin-right: -12px;
}

#copy-link {
	border-bottom-left-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-right: none !important;
}

.copy-link-btn {
		border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.form-group {
	margin-right: 10px;
}

.oops-img {
	max-width: 180px;
	margin-bottom: -20px;
	margin-top: 0px;
	margin-left: 10px;
	
}