<app-public-page
  [message]="message"
  [expiry_date]="expiry_date"
  [expired]="expired"
  [sender]="sender"
  [project_id]="project_id"
  [error]="error"
  (tryAgain)="backToHome()"
  xmlns="http://www.w3.org/1999/html">

  <app-page-not-found *ngIf="!exists" ></app-page-not-found>

  <app-project-expired *ngIf="expired && commentsExpired"></app-project-expired>

  <div *ngIf="exists && !(expired && commentsExpired)">

    <div class="list-container" [ngbCollapse]="getActiveTrack() | async">
	    
      <div *ngFor="let track of project?.tracks; let last = last;">

        <app-public-track-preview
          [track]="track"
          [expired]="expired && !commentsExpired"
          (selected)="selectTrack(track)"
        >
        </app-public-track-preview>

        <hr *ngIf="!last" class="preview-hr">

      </div>
    </div>

    <public-track-player
      *ngFor="let track of project?.tracks"
      [track]="track"
      [enableOverview]="project?.tracks?.length > 1"
      [ngbCollapse]="(getActiveTrack() | async) != track"
      [launchTitleScroll]="(getActiveTrack() | async) == track"
      [expired]="expired && !commentsExpired"
      (overview)="setActiveTrack(null)"
      (error)="error = $event">
    </public-track-player>

  </div>

</app-public-page>
