.comments-header {
	border-bottom: 1px solid black;
}

#waveform {
  width: 100%;
  height: 70px;
  background-image: url("waveformjs.png");
}

#timebar {
  background-color: grey;
  height: 5px;
}

.timebar-container {
  position: relative;
}

.drag-block {
  position: absolute;
  bottom: -9px;
  z-index: 100;
}

.time {
	margin-top: 20px;
}
