<div class="container-fluid player-container" #firstNameElement>

  <div id="popup-playbar" ngClass="shadow-topbar hide-phone" [@openClose]="waveformInViewPort ? 'closed' : 'open'">

    <div class="row popup-row">

      <div class="popup-play-btn">
        <play-button
          [disabled]="expired"
          [version]="version"
          [inverse]="true"
        ></play-button>
      </div>

      <div class="popup-title"><h4>{{track?.title}}</h4></div>

      <div class="popup-time"><p>{{getCurrentTime() | timeFormat}} / {{getDuration() | timeFormat}}</p></div>

      <div class="top-icon icon-action ml-auto"></div>
      <div class="top-icon list-icon" id="scroll-icon" role="button" (click)="scrollToTop()">

        <ng-container *ngTemplateOutlet="icon_scroll"></ng-container>
      </div>
    </div>

  </div>

  <div id="phone-popup-playbar" class="shadow">

    <div class="row phone-popup-row">

      <div class="col">

        <div class="top-icon list-icon" id="list-icon" role="button" (click)="goToOverview()"
             [class.disabled]="!enableOverview">

          <ng-container *ngTemplateOutlet="icon_list"></ng-container>

        </div>

        <div class="phone-playbar-text">Project</div>

      </div>

      <div class="col">
        <div class="top-icon cloud-icon" (click)="download()"
             [class.disabled]="!version?.downloadable || expired">

          <ng-container *ngTemplateOutlet="icon_download"></ng-container>

        </div>
        <div class="phone-playbar-text">Download</div>
      </div>

      <div class="col">
        <div class="top-icon text-icon" id="text-icon" (click)="showPhoneSearch()">

          <ng-container *ngTemplateOutlet="icon_search"></ng-container>

        </div>
        <div class="phone-playbar-text">Search</div>
      </div>

      <div class="col">

        <div class="popup-play-btn">

          <play-button
            [disabled]="expired"
            [version]="version"
          ></play-button>

        </div>
      </div>
    </div>
  </div>


  <div tabindex="0" id="phonesearch" class="show-phone shadow-topbar" #phonesearch>

    <input
      #phoneSearchInput
      type="search"
      name="search"
      id="phony"
      placeholder="Filter e.g. bass"
      class="comment-form-search sub-form search-box"
      [(ngModel)]="search"
      (blur)="hidePhoneSearch($event)">

    <span class="search-icon">
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <desc></desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
               stroke-linejoin="round">
              <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
                 transform="translate(-99.000000, -65.000000)" class="search-stroke" stroke-width="1.5">
                <circle id="Oval" cx="105.509842" cy="71.5098416" r="5.50984157"></circle>
                <path d="M110,76 L114.272172,80.2727797" id="Shape"></path>
              </g>
            </g>
          </svg>
        </span>
    <span *ngIf="search" class="clear-search ml-auto" (click)="clearSearch()">&times;</span>
  </div>

  <div [ngbCollapse]="!phoneOrder" id="phoneorder" class="show-phone shadow">
    <div class="comment-sort custom select-button">
      <select>
        <option>Most recent</option>
        <option>Track time</option>
        <option>Name</option>
      </select>
    </div>
  </div>
  <!--<hr>-->

  <div class="player-header row">

    <div class="hide-phone" id="play-button-public">

      <play-button
        [disabled]="expired"
        [version]="version"
      ></play-button>
    </div>

    <div class="title unselectable">
      <h4 #trackTitle [ngClass]="{overflowTitle: overflowTitle}"> {{track?.title}} </h4>
      <p *ngIf="!expired">{{getCurrentTime() | timeFormat}} / {{getDuration() | timeFormat}}</p>
      <p *ngIf="expired">
        Sorry, this track has expired.
      </p>
    </div>


    <div class="player-toolbar hide-phone  ml-auto">
        <ng-select
        class="custom top-icon version-control"
        bindLabel="version_id"
        [items]="getVersions()"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="version"
        (change)="switchVersion()"
        placeholder="Version"
        name="versions_control"
        dropdownPosition="auto">

        <ng-template ng-label-tmp let-item="item">
          V<b>{{item.version_number}}</b>
        </ng-template>
        <ng-template ng-header-tmp *ngIf="stateService.isAdminRoute()" >
            <a class="add-version-button btn btn-primary btn-sm" (click)="newUpload()">
              <svg  xmlns:xlink="http://www.w3.org/1999/xlink" height="14px" version="1.1" viewBox="0 0 24 25" width="13px" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-linecap="round" stroke-width="1"><g _ngcontent-xtp-c3="" fill-rule="nonzero" id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" stroke="#ffffff" stroke-width="4" transform="translate(-483.000000, -215.000000)"><g id="Group-31" transform="translate(462.000000, 194.000000)"><g id="Group-26-Copy" transform="translate(23.000000, 23.000000)"><path d="M0,10.5 L20,10.5" id="Line-10"></path><path d="M0,10.5 L20,10.5" id="Line-10" transform="translate(10.000000, 10.500000) rotate(90.000000) translate(-10.000000, -10.500000) "></path></g></g></g></g></svg>
            </a>

        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
          V<b>{{item.version_number}}</b>
        </ng-template>
      </ng-select>

      <div *ngIf="(version?.downloadable && !expired) || stateService.isAdminRoute()" class="top-icon cloud-icon" id="cloud-icon"
           (click)="download()" popoverClass="popover-class" ngbPopover="Download"
           [openDelay]="300" [closeDelay]="300" triggers="mouseenter:mouseleave" placement="bottom">
           <svg width="22px" height="18px" viewBox="0 0 22 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                   <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1" transform="translate(-389.000000, -447.000000)" class="icon-stroke" stroke-width="1.5">
                       <g id="Group-Copy-14" transform="translate(389.000000, 448.000000)">
                           <g id="upload-brackets">
                               <path d="M11,0.5 L11.0008333,11.7368421" id="Shape"></path>
                               <polyline id="Shape" points="7.25083333 7.78947368 11.0008333 11.7368421 14.7508333 7.78947368"></polyline>
                               <g id="Group-24" transform="translate(11.000000, 14.368421) rotate(90.000000) translate(-11.000000, -14.368421) translate(8.500000, 3.842105)">
                                   <path d="M0,0.657894737 L3.125,0.657894737 C3.81535594,0.657894737 4.375,1.24699375 4.375,1.97368421 L4.375,19.0789474 C4.375,19.8056378 3.81535594,20.3947368 3.125,20.3947368 L0,20.3947368" id="Shape"></path>
                               </g>
                           </g>
                       </g>
                   </g>
               </g>
           </svg>
      </div>

      <div *ngIf="enableOverview" class="top-icon list-icon" id="list-icon" role="button"
           (click)="overviewByOverviewIconClick()" popoverClass="popover-class" ngbPopover="Overview"
           [openDelay]="300" [closeDelay]="300" triggers="mouseenter:mouseleave" placement="bottom"
      >


        <svg width="21px" height="18px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
             stroke-linejoin="round">
            <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
               transform="translate(-414.000000, -448.000000)" class="icon-stroke" stroke-width="1.5">
              <path
                d="M415,454 L428.722222,454 C431.637058,454 434,456.462434 434,459.5 C434,462.537566 431.637058,465 428.722222,465"
                id="Shape"></path>
              <polyline id="Shape" points="420 449 415 454 420 459"></polyline>
            </g>
          </g>
        </svg>

      </div>


    </div>

  </div>

  <div class="player-content row">

    <div class="player-container col-md-12" *ngIf="!expired">

      <div class="waveform-container">

        <div class="audio-wave" id="waveform" #waveform></div>

        <app-waveform #appwaveform></app-waveform>

      </div>

      <div class="timebar-container">

        <div id="timebar">

          <div
            #startTime
            class="drag-block"
            [class.disabled]="!comment?.include_start"
            [style.left]="getStartPosition()"
          >
            <div
              class="app-draggable"
              appDraggable
              (dragStart)="dragStart()"
              (dragMove)="updateStartTime($event)"
              #markerPopover="ngbPopover"
              popoverClass="popover-class marker hide-phone" ngbPopover="Drag marker for time stamped comment"
              placement="right"
              [openDelay]="300" [closeDelay]="300" triggers="manual" [autoClose]="false"
              (mousedown)="markerPopoverClose()"
            >
              <div class="phone-draggable"></div>
            </div>
            <div class="soundmarker">
              <ng-container *ngTemplateOutlet="soundmarker"></ng-container>
            </div>
          </div>

          <div
            #endTime
            class="drag-block"
            [class.disabled]="!comment?.include_end"
            [style.left]="getEndPosition()"
          >
            <div
              class="app-draggable"
              appDraggable
              (dragMove)="updateEndTime($event)"
              (dragStart)="comment.include_end = true; comment.include_start = true"
            >
              <div class="phone-draggable"></div>
            </div>
            <div class="soundmarker">
              <ng-container *ngTemplateOutlet="soundmarker"></ng-container>
            </div>
          </div>

          <ng-template #soundmarker>
            <svg class="audioline" width="11px" height="63px" viewBox="0 0 11 63" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1.5" class="audioline-fill" fill-rule="evenodd"
                 stroke-linecap="round">
                <circle id="Oval" stroke-linejoin="round" cx="5.5" cy="57.5" r="4.5"></circle>
                <path d="M5.5,52.5 L5.5,0.5" id="Line" fill-rule="nonzero"></path>
              </g>
            </svg>
          </ng-template>

          <ng-template #dragmarker>
            <svg width="9" height="9"></svg>
          </ng-template>

          <ng-template #phonemarker>
            <svg width="25" height="25"></svg>
          </ng-template>

          <div id="comment-interval" *ngIf="comment?.include_start && comment?.include_end"
               [style.left]="getCommentIntervalPosition()"
               [style.width]="getCommentIntervalWidth()"
               (click)="playInterval()">
          </div>

        </div>

      </div>

    </div>

  </div>

  <div *ngIf="sender" class="session-notes shadow-topbar">
    <h3>By {{sender}}</h3>
    <div *ngIf="!notes">
      <ng-container *ngIf="expiry_date">
        <h4 *ngIf="!expired"> Link expires in {{getDaysToExpired()}} days ({{getExpiryDateHumanized()}}) </h4>
        <h4 *ngIf="expired"> Link expired on {{getExpiryDateHumanized()}} </h4>
      </ng-container>
    </div>
    <p *ngIf="notes && notesCollapsed" (click)="notesCollapsed = !notesCollapsed"><a>Show more</a></p>
    <div class="open" [ngbCollapse]="notesCollapsed">
      <ng-container *ngIf="expiry_date">
        <h4 *ngIf="!expired"> Link expires in {{getDaysToExpired()}} days ({{getExpiryDateHumanized()}}) </h4>
        <h4 *ngIf="expired"> Link expired on {{getExpiryDateHumanized()}} </h4>
      </ng-container>
      <p>{{notes}}<br>
        <a (click)="notesCollapsed = !notesCollapsed">Show less</a></p>
    </div>
  </div>

  <div class="comments">

    <div class="comments-header row">

      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="commentFilter">
        <label ngbButtonLabel class="btn-sm">
          <input ngbButton type="radio" [value]="2"> {{stateService.isAdminRoute() ? "All " : ""}} {{getMatchingComments()?.length}} {{stateService.isAdminRoute() ? "" : " comments"}}
        </label>
        <label *ngIf="stateService.isAdminRoute()" ngbButtonLabel class="btn-sm">
          <input ngbButton type="radio" [value]="0"> Unchecked {{getNbUncheckedComments()}}
        </label>
        <label *ngIf="stateService.isAdminRoute()" ngbButtonLabel class="btn-sm">
          <input ngbButton type="radio" [value]="1"> Checked {{getNbCheckedComments()}}
        </label>
      </div>

    <!--  <p class="comments-title unselectable">{{getMatchingComments()?.length}} comments </p>

      <a class="checked-comments-title hide-pro">|
        Checked</a>-->

      <div class="comment-search ml-auto hide-phone" [class.active]="search" [class.disabled]="!hasComments()"
           popoverClass="popover-class" ngbPopover="Search for words or names"
           [openDelay]="300" [closeDelay]="300" triggers="mouseenter:mouseleave">

        <input type="search" name="search" placeholder="Filter e.g. bass" [(ngModel)]="search"
               class="comment-form-search sub-form search-box">

        <span class="search-icon">
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg">

            <desc></desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
               stroke-linejoin="round">
              <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
                 transform="translate(-99.000000, -65.000000)" class="search-stroke" stroke-width="1.5">
                <circle id="Oval" cx="105.509842" cy="71.5098416" r="5.50984157"></circle>
                <path d="M110,76 L114.272172,80.2727797" id="Shape"></path>
              </g>
            </g>
          </svg>
        </span>


        <span *ngIf="search" class="clear-search ml-auto" (click)="search = null">&times;</span>

      </div>

      <div class="comment-sort" [class.disabled]="!hasMatchingComments()"
      >
        <!--[class.disabled]="track.comments.length < 2"-->
        <ng-select class="custom noselect" [items]="commentSorters"
                   bindLabel="description"
                   groupBy="heading"
                   dropdownPosition="top"
                   placeholder="Order by"
                   [clearable]="false"
                   [searchable]="false"
                   [(ngModel)]="currentSorter">
        </ng-select>
      </div>

    </div>



    <app-comment-form
      *ngIf="!expired"
      [version]="version"
      [comment]="comment"
      (newComment)="addComment($event)">
    </app-comment-form>

    <comment-lazy
      *ngFor="let comment of getMatchingCommentsSorted()"
      [comment]="comment"
      [version]="version"
      [search]="search"
      [expired]="expired"
      (delete)="deleteComment($event)"
      (scrollIntoReply)="pauseAutoScroll($event)"
    >
    </comment-lazy>

    <div *ngIf="search && getMatchingComments().length == 0" class="no-comments">
      <p>We couldn't find any comments related to your search.</p>
    </div>

  </div>

</div>

<ng-template #icon_scroll>
  <svg width="22px" height="18px" viewBox="0 0 22 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
         transform="translate(-389.000000, -447.000000)" class="icon-stroke" stroke-width="1.5">
        <g id="Group-Copy-14" transform="translate(389.000000, 448.000000)">
          <g id="upload-brackets">
            <path d="M11,0.5 L11.0008333,11.7368421" id="Shape"></path>
            <polyline id="Shape"
                      points="7.25083333 7.78947368 11.0008333 11.7368421 14.7508333 7.78947368"></polyline>
            <g id="Group-24"
               transform="translate(11.000000, 14.368421) rotate(90.000000) translate(-11.000000, -14.368421) translate(8.500000, 3.842105)">
              <path
                d="M0,0.657894737 L3.125,0.657894737 C3.81535594,0.657894737 4.375,1.24699375 4.375,1.97368421 L4.375,19.0789474 C4.375,19.8056378 3.81535594,20.3947368 3.125,20.3947368 L0,20.3947368"
                id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #icon_list>
  <svg width="21px" height="18px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
         transform="translate(-414.000000, -448.000000)" class="icon-stroke" stroke-width="1.5">
        <path
          d="M415,454 L428.722222,454 C431.637058,454 434,456.462434 434,459.5 C434,462.537566 431.637058,465 428.722222,465"
          id="Shape"></path>
        <polyline id="Shape" points="420 449 415 454 420 459"></polyline>
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #icon_download>
  <svg width="22px" height="21px" viewBox="0 0 22 21" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
         transform="translate(-418.000000, -84.000000)" class="icon-stroke" stroke-width="1.5">
        <g id="Group-Copy-8" transform="translate(419.000000, 85.000000)">
          <g id="upload-brackets">
            <path d="M10.0008333,0.526315789 L10.0008333,14.7368421" id="Shape"></path>
            <polyline id="Shape"
                      points="6.25083333 10.7894737 10.0008333 14.7368421 13.7508333 10.7894737"></polyline>
            <g id="Group-24"
               transform="translate(10.000000, 17.368421) rotate(90.000000) translate(-10.000000, -17.368421) translate(7.500000, 6.842105)">
              <path
                d="M0,0.657894737 L3.125,0.657894737 C3.81535594,0.657894737 4.375,1.24699375 4.375,1.97368421 L4.375,19.0789474 C4.375,19.8056378 3.81535594,20.3947368 3.125,20.3947368 L0,20.3947368"
                id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #icon_search>
  <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg">

    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
       stroke-linejoin="round">
      <g id="Internet-Networks-Servers-/-Upload/Download-/-upload-dash-arrow-1"
         transform="translate(-156.000000, -21.000000)" class="popup-icon-stroke" stroke-width="1.5">
        <g id="zoom-out" transform="translate(157.000000, 22.000000)">
          <path
            d="M15,7.49906291 C15.0003347,10.5325607 13.1732573,13.2675469 10.3707669,14.4286482 C7.56827642,15.5897494 4.34230415,14.9482949 2.19717894,12.8034064 C0.0520537392,10.6585179 -0.589756733,7.43261636 0.571035293,4.62999779 C1.73182732,1.82737921 4.46661184,1.84658698e-08 7.50010963,0 C11.6418616,-2.52121665e-08 14.999543,3.35731097 15,7.49906291 Z"
            id="Shape"></path>
          <path d="M13,13 L19,19" id="Shape"></path>
        </g>
      </g>
    </g>
  </svg>
</ng-template>

<input style="display: none" #fileinputhiddenplayer
       class="pro-upload-songs-input"
       type="file"
       title=""
       ng2FileSelect
       [uploader]="uploader.getOpenFileUploader()"
       id="fileinputhiddenplayer"
       single
       name="files"
       accept="{{uploader.getOpenSMFileUploader().getAcceptedFileTypes().join(',')}}"/>
